@using Kendo.Mvc.UI

@{
	ViewData["Title"] = "Permits";
	ViewData["SubTitle"] = "Form View";
}

<div id="main-div" style="width:538px;">
	<div class="p-2 border text-center bg-light">
		<div style="font-weight:bold;">IOT MANAGEMENT SDN. BHD.</div>
		<div style="font-size:7pt !important;">PERMIT TO WORK FORM</div>
	</div>
	<div class="border border-top-0 border-dark-subtle p-2">
		<div class="d-flex flex-row justify-content-between">
			<div>Date Issued: <span style="font-weight:bold;">12/11/2023</span></div>
			<div>NO: <span style="font-weight:bold;">PTW000001</span></div>
		</div>
	</div>
	<div class="border border-top-0 border-dark-subtle p-2 bg-secondary-soft">
		<span style="font-weight:bold;">GENERAL INFORMATION</span>
	</div>
	<div class="border border-top-0 border-dark-subtle p-2">
		<div class="d-flex flex-row">
			<div class="me-3">Location:</div>
			<div>Some location</div>
		</div>
	</div>
	<div class="border border-top-0 border-dark-subtle">
		<div class="d-flex flex-row">
			<div class="flex-grow-1 p-2">
				<div class="mb-2">
					Description of work:
				</div>
				<div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ligula,
					porttitor at
				</div>
			</div>
			<div class="border border-top-0 border-end-0 border-bottom-0 border-dark-subtle">
				<div class="border border-top-0 border-start-0 border-end-0 border-dark-subtle p-2 text-center">
					Appendix - Associated Certificate
				</div>
				<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
					<div class="" style="width: 110px;">
						<div class="p-1">&nbsp;</div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1">YES</div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1">NO</div>
					</div>
				</div>
				<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
					<div>
						<div class="p-1 text-center" style="width: 20px;">A</div>
					</div>
					<div class="border-start border-dark-subtle" style="width: 90px;">
						<div class="p-1">Hot Work</div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
					<div>
						<div class="p-1 text-center" style="width: 20px;">B</div>
					</div>
					<div class="border-start border-dark-subtle" style="width: 90px;">
						<div class="p-1">Confined Space</div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
					<div>
						<div class="p-1 text-center" style="width: 20px;">C</div>
					</div>
					<div class="border-start border-dark-subtle" style="width: 90px;">
						<div class="p-1">Radiation</div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
					<div>
						<div class="p-1 text-center" style="width: 20px;">D</div>
					</div>
					<div class="border-start border-dark-subtle" style="width: 90px;">
						<div class="p-1">Excavation</div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="d-flex flex-row align-items-center">
					<div>
						<div class="p-1 text-center" style="width: 20px;">E</div>
					</div>
					<div class="border-start border-dark-subtle" style="width: 90px;">
						<div class="p-1">Isolation</div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="text-center border-start border-dark-subtle" style="width: 30px;">
						<div class="p-1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="border-top border-dark-subtle p-2 bg-secondary-soft">
			<span style="font-weight:bold;">PERMIT HOLDER INFORMATION</span>
		</div>
		<div class="p-2">
			<div class="me-5">
				<span class="me-2">Name:</span>
				<span>John Smith</span>
			</div>
			<div class="d-flex flex-row justify-content-between">
				<div class="">
					<span class="me-2">Company:</span>
					<span>Acme Pvt Ltd</span>
				</div>
				<div class="me-3">
					<span class="me-2">Number of staff:</span>
					<span>10</span>
				</div>
			</div>
		</div>
		<div class="border-top border-dark-subtle p-2 text-center text-danger">
			<div style="font-weight:bold;">INSTRUCTIONS FOR HOLDER</div>
			<div style="text-transform:uppercase; font-size:5pt !important;">
				Work Must be performed according to ALL safety instructions.
			</div>
			<div style="text-transform:uppercase; font-size:5pt !important;">
				Mobile phones are strictly prohibited from the terminal area.
			</div>
		</div>
		<div class="border-top border-dark-subtle p-2 bg-secondary-soft">
			<span style="font-weight:bold;">OPERATIONAL INFORMATION</span>
		</div>
		<div class="p-2">
			<div class="mb-2">What are the activities?</div>
			<div class="d-flex flex-row justify-content-evenly px-3">
				<div class="w-100">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Excavation</div>
						<div class="cbOpInfo1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Entering Confined Space</div>
						<div class="cbOpInfo2"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Assemble</div>
						<div class="cbOpInfo3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Disassemble</div>
						<div class="cbOpInfo4"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Prefabrication</div>
						<div class="cbOpInfo5"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Opening Confined Space</div>
						<div class="cbOpInfo6"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between">
						<div>Other (<span class="tbOpInfo7"></span>)</div>
						<div class="cbOpInfo7"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="w-100 mx-4">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Welding</div>
						<div class="cbOpInfo8"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>working at Height</div>
						<div class="cbOpInfo9"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Cutting</div>
						<div class="cbOpInfo9"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Drilling/Grinding</div>
						<div class="cbOpInfo9"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>High-Pressure Jetting</div>
						<div class="cbOpInfo10"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between">
						<div>Grit Blasting</div>
						<div class="cbOpInfo11"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="w-100">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>X-Ray/Radiography</div>
						<div class="cbOpInfo12"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Lifting/Crane Activities</div>
						<div class="cbOpInfo13"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Calibration</div>
						<div class="cbOpInfo14"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Electrical Activities</div>
						<div class="cbOpInfo15"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Nitrogen Pressure Test</div>
						<div class="cbOpInfo16"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between">
						<div>Hydrostatic Test</div>
						<div class="cbOpInfo17"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-2">
			<div class="mb-2">Where are the activities?</div>
			<div class="d-flex flex-row justify-content-evenly px-3">
				<div class="w-100">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Zone 0</div>
						<div class="cbOpInfo18"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between">
						<div>Unclassified</div>
						<div class="cbOpInfo19"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="w-100 mx-4">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Zone 1</div>
						<div class="cbOpInfo20"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="w-100">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Zone 2</div>
						<div class="cbOpInfo21"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-2">
			<div class="mb-2">With what?</div>
			<div class="d-flex flex-row justify-content-evenly px-3">
				<div class="w-100">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Explosion Proof/Intrisically Safe</div>
						<div class="cbOpInfo22"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between">
						<div>Spark-free Tools</div>
						<div class="cbOpInfo23"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="w-100 mx-4">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Lifting Equipment/Crane</div>
						<div class="cbOpInfo24"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="w-100">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Scaffold</div>
						<div class="cbOpInfo25"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-2">
			<div class="mb-2">Product involved - specify product contained in system</div>
			<div class="d-flex flex-row justify-content-evenly px-3">
				<div class="w-100">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Class 1</div>
						<div class="cbOpInfo26"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
					<div class="d-flex flex-row align-items-center justify-content-between">
						<div>Other (<span class="tbOpInfo27"></span>)</div>
						<div class="cbOpInfo27"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="w-100 mx-4">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Class 2</div>
						<div class="cbOpInfo28"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
				<div class="w-100">
					<div class="d-flex flex-row align-items-center justify-content-between mb-1">
						<div>Class 3</div>
						<div class="cbOpInfo29"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="p-2 border text-center bg-light page-break">
		<div style="font-weight:bold;">IOT MANAGEMENT SDN. BHD.</div>
		<div style="font-size:7pt !important;">PERMIT TO WORK FORM</div>
	</div>
	<div class="border border-top-0 border-dark-subtle p-2">
		<div class="d-flex flex-row justify-content-between">
			<div>Date Issued: <span style="font-weight:bold;">12/11/2023</span></div>
			<div>NO: <span style="font-weight:bold;">PTW000001</span></div>
		</div>
	</div>
	<div class="border-start border-end border-dark-subtle">
		<div class="p-2 bg-secondary-soft">
			<span style="font-weight:bold;">OPERATIONAL MEASURES</span>
		</div>
		<div>
			<div class="d-flex flex-row justify-content-between">
				<div class="w-100 border-end border-secondary-subtle">
					<div class="p-2 px-3">
						<div style="font-weight:bold;" class="mb-2">MECHANICAL</div>
						<div>
							<div>
								Equipment: <span id="opMeasureMechEquipName" class="ms-1">N/A</span>
							</div>
							<div>
								ID/Tag Number: <span id="opMeasureMechTagNo" class="ms-1">N/A</span>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between mt-2 mb-1">
							<div>Pressure free</div>
							<div id="opMeasureMech1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Empty</div>
							<div id="opMeasureMech2"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Disconnected</div>
							<div id="opMeasureMech3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Blank off</div>
							<div id="opMeasureMech4"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Locked off</div>
							<div id="opMeasureMech5"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Flushed</div>
							<div id="opMeasureMech6"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Ventilated</div>
							<div id="opMeasureMech7"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between">
							<div>Other (<span id="opMeasureMech8a">N/A</span>)</div>
							<div id="opMeasureMech8b"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
					</div>
				</div>
				<div class="w-100 border-end border-secondary-subtle">
					<div class="p-2 px-3">
						<div style="font-weight:bold;" class="mb-2">ELECTRICAL</div>
						<div>
							<div>
								Equipment: <span id="opMeasureElecEquipName" class="ms-1">N/A</span>
							</div>
							<div>
								ID/Tag Number: <span id="opMeasureElecTagNo" class="ms-1">N/A</span>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between mt-2 mb-1">
							<div>Locked off</div>
							<div id="opMeasureElec1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Isolated</div>
							<div id="opMeasureElec2"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>See Isolation Certificate</div>
							<div id="opMeasureElec3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>No. of Isolation Certificates:</div>
							<div><span id="opMeasureElecNumOfIsoCert" class="ms-2">0</span></div>
						</div>
					</div>
				</div>
				<div class="w-100">
					<div class="p-2 px-3">
						<div style="font-weight:bold;" class="mb-2">INSTRUMENT &lt; 24V</div>
						<div>
							<div>
								Equipment: <span id="opMeasureInstEquipName" class="ms-1">N/A</span>
							</div>
							<div>
								ID/Tag Number: <span id="opMeasureInstTagNo" class="ms-1">N/A</span>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between mt-2 mb-1">
							<div>Locked off</div>
							<div id="opMeasureInst1"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Isolated</div>
							<div id="opMeasureInst2"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Disconnected</div>
							<div id="opMeasureInst3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Bypass</div>
							<div id="opMeasureInst4"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>No. of Isolation Certificates:</div>
							<div id="opMeasureInst5">0</div>
						</div>
					</div>
				</div>
			</div>
			<div class="border-top border-secondary-subtle">
				<div class="p-3">
					<div class="d-flex flex-row">
						<div class="me-3">
							<div class="d-flex flex-row justify-content-between mb-1">
								<div>Shutdown system operational?</div>
								<div id="opMeasureInst6"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
							</div>
							<div class="d-flex flex-row justify-content-between mb-1">
								<div>Fire protection system operational?</div>
								<div id="opMeasureInst7"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
							</div>
							<div class="d-flex flex-row justify-content-between">
								<div>Automatic fire protection system operational?</div>
								<div id="opMeasureInst8" class="ms-3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="mb-2">Any other measure?</div>
							<div id="opMeasureInst9">N/A</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="border-top border-dark-subtle p-2 bg-secondary-soft">
			<span style="font-weight:bold;">PPE</span>
		</div>
		<div class="border-bottom border-dark-subtle">
			<div class="d-flex flex-row justify-content-evenly py-2">
				<div class="w-100">
					<div class="px-3">
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Safety Glass</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Safety Helmet</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Full Face Mask</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Leather Gloves</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
					</div>
				</div>
				<div class="w-100">
					<div class="px-3">
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Neoprene Gloves</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Safety Harness</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Fall Protection</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Safety Shoes</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
					</div>
				</div>
				<div class="w-100">
					<div class="px-3">
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Ear Protection</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Breathing Protection</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row justify-content-between">
							<div>Other (please specify)</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						<div>N/A</div>
					</div>
				</div>
			</div>
		</div>
		<div class="px-3 py-2">
			<div class="mb-1">Any further PPE required to be included in the JHA?</div>
			<div>N/A</div>
		</div>
		<div class="p-2 bg-secondary-soft">
			<span style="font-weight:bold;">WORKING AREA</span>
		</div>
		<div class="border-bottom border-dark-subtle">
			<div class="d-flex flex-row justify-content-evenly pt-2">
				<div class="w-100">
					<div class="px-3">
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Demarcation</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
						
					</div>
				</div>
				<div class="w-100">
					<div class="px-3">
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Fire Extinguisher</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
					</div>
				</div>
				<div class="w-100">
					<div class="px-3">
						<div class="d-flex flex-row justify-content-between mb-1">
							<div>Warning Signs</div>
							<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						</div>
					</div>
				</div>
			</div>
			<div class="px-3 pb-2">
				<div>Others (please specify)</div>
				<div>N/A</div>
			</div>
		</div>
		<div class="p-2 bg-secondary-soft">
			<span style="font-weight:bold;">PRECAUTIONS</span>
		</div>
		<div class="border-bottom border-secondary-subtle">
			<div class="px-3 py-2">
				<div class="mb-2">
					<div class="mb-1">Precautions for the work (in addition to those overleaf, and stated in associated certificates)</div>
					<div class="border border-secondary-subtle" style="min-height:30px;">&nbsp;</div>
				</div>
				<div class="mb-2">
					<div class="mb-1">Additional Precautions for Lead Permit Issuer (LPI) and Engineer</div>
					<div class="border border-secondary-subtle" style="min-height:30px;">&nbsp;</div>
				</div>
				<div class="d-flex flex-row mb-1">
					<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					<div class="ms-2">Reference made to attached Method of Statement?</div>
				</div>
				<div class="d-flex flex-row">
					<div><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
					<div class="ms-2">Engineering advice required?</div>
				</div>
			</div>
		</div>
		<div class="p-2 border text-center bg-light page-break">
			<div style="font-weight:bold;">IOT MANAGEMENT SDN. BHD.</div>
			<div style="font-size:7pt !important;">PERMIT TO WORK FORM</div>
		</div>
		<div class="border border-top-0 border-dark-subtle p-2">
			<div class="d-flex flex-row justify-content-between">
				<div>Date Issued: <span style="font-weight:bold;">12/11/2023</span></div>
				<div>NO: <span style="font-weight:bold;">PTW000001</span></div>
			</div>
		</div>
		<div class="border-bottom border-secondary-subtle">
			<div class="px-3 py-2">
				<div class="">
					<div class="mb-1 mt-2">Declaration</div>
					<div class="d-flex flex-row">
						<div class="me-3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						<div>
							I certified that I have fully considered the implications of the work in line with the responsibilities 
							details in the permit to work procedure and that the above precautions are adequate for the work to be 
							carried out provided that the precautions are established and maintained.
						</div>
					</div>
				</div>
				<div class="mt-3 border-top border-secondary-subtle">
					<div class="mb-1 mt-2">Declaration by Permit Issuer (PI)</div>
					<div class="d-flex flex-row">
						<div class="me-3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						<div>
							Authorised for execution without additional certificates
						</div>
					</div>
				</div>
				<div class="mt-3 border-top border-secondary-subtle">
					<div class="mb-1 mt-2">Declaration by Lead Permit Issuer (LPI)</div>
					<div class="d-flex flex-row">
						<div class="me-3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						<div>
							Authorised for execution only in accordance with attached certificates
						</div>
					</div>
				</div>
				<div class="mt-3 border-top border-secondary-subtle">
					<div class="mb-1 mt-2">Permit validity (where work is going to last more than the duration of a day)</div>
					<div class="d-flex flex-row">
						<div class="me-3"><i class="fa-sharp fa-regular fa-square fa-lg"></i></div>
						<div>
							Permit Issuer & Permit Holder confirm by signing that the precautions required to work safely have been 
							complied with prior to starting work each day or work period. At he close of each day the Permit Issuer &amp; 
							Permit Holder sign to confirm that the area has been left in a safe condition (although it is still not an 
							operational area, i.e. it has not been handed back) and that all staff have left the site.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>

<style>
	#main-div div {
		font-family: 'Roboto' !important;
		font-size: 7pt;
	}
</style>


<div class="mt-5" id="btn">
	<button type="button" id="btnExport" class="btn btn-primary">Export</button>
</div>

@section CustomCss {
	<link rel="stylesheet" href="~/fonts/roboto.css" />
}

@section Scripts {
	<script>
		$(document).ready(() => {
			$('#btnExport').click(() => {
				kendo.drawing.drawDOM($('#main-div'), {
					paperSize: 'A4',
					margin: '1cm',
					multiPage: true,
					forcePageBreak: '.page-break',
				})
					.then((group) => {
						return kendo.drawing.exportPDF(group);
					})
					.done((data) => {
						kendo.saveAs({
							dataURI: data,
							fileName: 'permit.pdf',
						});
					});
			});
		});
	</script>
}