<div style="page-break-after: always;"></div>
<div class="mb-3" style="width: 750px;">
   <div class="d-flex flex-row border-top border-bottom border-dark-subtle">
      <div class="border-start border-dark-subtle">
         <div class="px-4"><h1 class="fw-bold mb-0">D</h1></div>
      </div>
      <div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
         <div class="px-4 fs-6 fw-bold align-self-center">EXCAVATION</div>
      </div>
      <div class="border-end border-dark-subtle d-flex">
         <div class="px-4 align-self-center" style="width:250px; text-align:right;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
      </div>
   </div>

   <div class="border-dark-subtle border-start border-end border-bottom mb-3">
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">GENERAL INFORMATION</div>
      </div>
      <div class="px-2 mb-2">
         <div class="d-flex flex-row align-items-center">
            <div>Estimated excavation depth <span class="ms-2 fw-bold"><span class="form-value">{{ attached_certificates.form_d.excavation_depth }}</span></span></div>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">Excavation instructions applicable to the Permit Holder who is responsible for assuring compliance</div>
      </div>
      <div class="px-2 mb-2">
         <div class="pe-4">
            <ul class="mb-0">
               <li>
                  When sloping is utilized as a protective measure for excavations up to 6 meters deep, an acceptable
                  sloping is 1.5 horizontal to 1 vertical. Steeper slopes may be allowed where pre defined Country specific
                  tables or charts exist based on soil classification or where recognized soil engineering expertise personnel
                  are involved in defining acceptable steeper slopes.
               </li>
               <li>
                  Identify Overhead electrical lines (or other overhead infrastructure) and assure provisions are in place to
                  prevent contact (or encroachment beyond established safe distances when high voltage power lines exist) by equipment.
               </li>
               <li>
                  Underground cabling and piping must be clearly marked /identified prior to excavation.
               </li>
               <li>
                  Within 0.5 meters (1.6 feet) around piping and cabling, only careful hand probing and digging may be used.
               </li>
               <li>
                  Exposed underground piping and cabling to be supported.
               </li>
               <li>
                  Soil removed from excavation must be a minimum of 0.75 meters setback from the edge of the excavation.
               </li>
               <li>
                  Excavations 6 meters or deeper require the services of a specialized Subject Matter Expert (Engineered credentialed or
                  similarly recognized soils and protective systems expert) on soil stability and controls who is commissioned to develop a safe excavation plan.
               </li>
               <li>
                  Contaminated soil requires the use of PPE as well as specific Hazardous waste handling/disposal plans.
               </li>
               <li>
                  Utilize confined space entry certificate when work meets the confined space definition.
               </li>
               <li>
                  Barriers and signage must be present to prevent unauthorized entry, and warning systems in place for vehicles.
               </li>
               <li>
                  A designate authorized person(s) must be identified below for daily inspections (may be Permit Holder).
               </li>
            </ul>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">Controls Used</div>
      </div>
      <div class="px-2 mb-2">
         <div class="d-flex flex-row align-items-center mb-3">
            <div class="me-3 d-flex flex-row align-items-center">
               <div class="me-2">
                  {{ attached_certificates.form_d.controls_used.sloping }}
               </div>
               <div>Sloping</div>
            </div>
            <div class="ms-3 me-3 d-flex flex-row align-items-center">
               <div class="me-2">
                  {{ attached_certificates.form_d.controls_used.shoring }}
               </div>
               <div>Shoring</div>
            </div>
            <div class="ms-3 d-flex flex-row align-items-center">
               <div class="me-2">
                  {{ attached_certificates.form_d.controls_used.shielding }}
               </div>
               <div>Shielding</div>
            </div>
         </div>
         <div class="mb-3">
            <div>
               Document below additional controls not otherwise included in this PTW to address job specific threats including:
            </div>
            <div>
               <ol>
                  <li>
                     measures to minimize weather impacts on cave-ins
                  </li>
                  <li>
                     provisions for safe access and exit for personnel who enter the excavation
                  </li>
                  <li>
                     additional rescue and emergency response provisions
                  </li>
                  <li>
                     other threats specific to the job
                  </li>
               </ol>
            </div>
         </div>
         <div class="mb-3">
            <div>Designated authorized person(s) for excavation:</div>
            <div><span class="form-value">{{ attached_certificates.form_d.designated_authorized_person }}</span></div>
         </div>
         <div class="mb-3">
            <div>Additional necessary info not otherwise included elsewhere:</div>
            <div><span class="form-value">{{ attached_certificates.form_d.additional_info }}</span></div>
         </div>
         <div class="mb-2">
            <div>Additional space to communicate via sketch information about hazards/threats and controls:</div>
            <div><span class="form-value">{{ attached_certificates.form_d.additional_space_sketch }}</span></div>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">Emergency Contact Info</div>
      </div>
      <div class="px-2 mb-2">
         <div class="d-flex flex-row align-items-center">
            <div>Name</div>
            <div class="ms-3 flex-grow-1">
               <span class="form-value">{{ attached_certificates.form_d.emergency_contact }}</span>
            </div>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">Validity of the Excavation Permit</div>
      </div>
      <div class="px-2 mb-2">
         <div class="mb-3">
            I certify that I have reviewed the proposed work and I am satisfied that the workers understand the hazards and that
            preventive measures are in place with adequate supervision to proceed.
         </div>
         <div class="mb-2">
            <div class="mb-2">
               Excavation Permit is allowed between
               <span class="ms-3 me-3">From: <strong><span class="form-value">{{ attached_certificates.form_d.permit_validity.from }}</span></strong></span>
               <span>To: <strong><span class="form-value">{{ attached_certificates.form_d.permit_validity.to }}</span></strong></span>
            </div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">Excavation Certificate is Withdrawn</div>
      </div>
      <div class="px-2 mb-2">
         <div>
            <div class="d-flex flex-row align-items-center">
               <div class="me-3">
                  <strong>{{ attached_certificates.form_d.permit_withdrawn.yesno }}</strong>
               </div>
               <div class="me-3">Reason</div>
               <div class="flex-grow-1">
                  <span class="form-value">{{ attached_certificates.form_d.permit_withdrawn.reason }}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>