<div class="page-break"></div>
<div class="mb-3" style="width: 750px;">
   <div class="d-flex flex-row border-top border-bottom border-dark-subtle">
      <div class="border-start border-dark-subtle">
         <div class="px-4"><h1 class="fw-bold mb-0">E</h1></div>
      </div>
      <div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
         <div class="px-4 fs-6 fw-bold align-self-center">SAFE ISOLATION LOCK OUT TAG OUT</div>
      </div>
      <div class="border-end border-dark-subtle d-flex">
         <div class="px-4 align-self-center" style="width:250px; text-align:right;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
      </div>
   </div>

   <div class="border-dark-subtle border-start border-end border-bottom mb-3">
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">IDENTIFICATION OF EQUIPMENT BEING WORKED ON AND THE EQUIPMENT THAT IS LOCKED/TAGGED</div>
      </div>
      <div class="px-2 mb-2">
         <div class="mb-3">
            (specific valves, pumps, motors, switch gears, etc.)
         </div>
         <div>
            <div>Equipment Being worked on and verified to be at a zero energy state prior to work starting (describe or sketch to make clear):</div>
            <div><span class="form-value">{{ attached_certificates.form_e.equipment_used }}</span></div>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">TYPE OF LOCK OUT / TAG OUT (LO/TO) USED</div>
      </div>
      <div class="px-2 mb-2">
         <div class="d-flex flex-row">
            <div class="me-0 me-5 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.lock_out_tag_out_type.individual }}</div>
               <div>Each authorized individual will apply LO/TO to each isolation device</div>
            </div>
            <div class="d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.lock_out_tag_out_type.group }}</div>
               <div>Use of Group LO/TO Using Lock Box</div>
            </div>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">Energy Type Isolated</div>
      </div>
      <div class="px-2 mb-2">
         <div class="mb-3">
            Mark below (√) the type of energy to be isolated:
         </div>
         <div class="d-flex flex-row">
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolated_energy_type.electrical }}</div>
               <div>Electrical</div>
            </div>
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolated_energy_type.steam }}</div>
               <div>Steam</div>
            </div>
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolated_energy_type.hydraulic }}</div>
               <div>Hydraulic</div>
            </div>
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolated_energy_type.mechanical }}</div>
               <div>Mechanical</div>
            </div>
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolated_energy_type.pneumatic }}</div>
               <div>Pneumatic</div>
            </div>
            <div class="d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolated_energy_type.other.checkbox }}</div>
               <div>Other <span class="form-value">{{ attached_certificates.form_e.isolated_energy_type.other.value }}</span></div>
            </div>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">Method of Isolation</div>
      </div>
      <div class="px-2 mb-2">
         <div class="mb-3">
            Mark below (√) isolation being used:
         </div>
         <div class="d-flex flex-row align-items-center">
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolation_method.lock_tag }}</div>
               <div>Lock &amp; Tag</div>
            </div>
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolation_method.tag_only }}</div>
               <div>Tag Only</div>
            </div>
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolation_method.blinds }}</div>
               <div>Blinds</div>
            </div>
            <div class="me-0 me-4 d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolation_method.double_block_bleed }}</div>
               <div>Double Block &amp; Bleed</div>
            </div>
            <div class="d-flex flex-row align-items-center">
               <div class="me-2">{{ attached_certificates.form_e.isolation_method.other.checkbox }}</div>
               <div>Other <span class="form-value">{{ attached_certificates.form_e.isolation_method.other.value }}</span></div>
            </div>
         </div>
         <div class="mt-3 d-flex flex-row justify-content-start">
            <div class="card bg-secondary-subtle mb-0">
               <div class="card-body">
                  <div class="fs-6 fw-bold mb-2">Sequence of Lockout</div>
                  <ol class="mb-0">
                     <li>Prepare for shutdown</li>
                     <li>Equipment shut down</li>
                     <li>Identify all equipment isolation points</li>
                     <li>Apply L/O-T/O device(s)</li>
                     <li>Release stored energy</li>
                     <li>Verify equipment will not start</li>
                     <li>Perform work</li>
                     <li>Clear tools, inspect equipment</li>
                     <li>Clear personnel from area</li>
                     <li>Remove lock out/tag out devices</li>
                     <li>Restart equipment</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">AUTHORIZED INDIVIDUALS</div>
      </div>
      <div class="px-2 mb-2">
         <div class="mb-3">
            Individuals doing the Lock Out/Tag Out including verification of zero energy state:
         </div>
         <div>
            <table class="table table-striped display responsive" style="width: 100%;">
               <thead>
                  <tr>
                     <th scope="col" style="width: 120px;">Date</th>
                     <th scope="col">Name</th>
                     <th scope="col">Company</th>
                  </tr>
               </thead>
               <tbody>
                  {{ for item in attached_certificates.form_e.authorized_individuals }}
                  <tr>
                     <td><span class="form-value">{{ item.date }}</span></td>
                     <td><span class="form-value">{{ item.name }}</span></td>
                     <td><span class="form-value">{{ item.company }}</span></td>
                  </tr>
                  {{ end }}
               </tbody>
            </table>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">Validity of the Safe Isolation Lock Out Tag Out Permit</div>
      </div>
      <div class="px-2 mb-2">
         <div class="mb-3">
            I certify that I have reviewed the proposed work and I am satisfied that the workers understand the hazards
            and that preventive measures are in place with adequate supervision to proceed.
         </div>
         <div class="mb-3">
            The isolation work is allowed between 
            <span class="ms-3 me-2">From: <strong><span class="form-value">{{ attached_certificates.form_e.permit_validity.from }}</span></strong></span>
            <span>To: <strong><span class="form-value">{{ attached_certificates.form_e.permit_validity.to }}</span></strong></span>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">RECONNECTION</div>
      </div>
      <div class="px-2 mb-2 d-flex flex-row">
         <div class="me-3"><img src="https://uat.permitpro.app/img/cb-mark.png" style="width:20px;" /></div>
         <div>
            I have verified that the equipment under Lockout/Tagout is no longer locked or tagged, has been re-connected and is in safe working condition.
         </div>
      </div>
   </div>

   <div class="page-break"></div>

   <div class="border-dark-subtle border-start border-end border-bottom mb-3">
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform: uppercase;">ISOLATION POINT IDENTIFICATION</div>
      </div>
      <div class="px-2 mb-2">
         <div>
            <table class="table table-striped display responsive" style="width: 100%;">
               <thead>
                  <tr>
                     <th scope="col">Isolation Point Identification</th>
                     <th scope="col">Tag Installed?</th>
                     <th scope="col">Lock Installed?</th>
                     <th scope="col">Blind Installed?</th>
                     <th scope="col">Normal Operating Position</th>
                     <th scope="col">Date Installed</th>
                     <th scope="col">Date Removed</th>
                  </tr>
               </thead>
               <tbody>
                  {{ for item in attached_certificates.form_e.isolation_points }}
                  <tr>
                     <td><span class="form-value">{{ item.isolation_point }}</span></td>
                     <td><span class="form-value">{{ item.tag_installed }}</span></td>
                     <td><span class="form-value">{{ item.lock_installed }}</span></td>
                     <td><span class="form-value">{{ item.blind_installed }}</span></td>
                     <td><span class="form-value">{{ item.normal_operate_pos }}</span></td>
                     <td><span class="form-value">{{ item.date_installed }}</span></td>
                     <td><span class="form-value">{{ item.date_removed }}</span></td>
                  </tr>
                  {{ end }}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>