<div style="page-break-after: always;"></div>
<div class="mb-3" style="width: 750px;">
   <div class="d-flex flex-row border-top border-bottom border-dark-subtle">
      <div class="border-start border-dark-subtle">
         <div class="px-4"><h1 class="fw-bold mb-0">G</h1></div>
      </div>
      <div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
         <div class="px-4 fs-6 fw-bold align-self-center">LIFTING &amp; HOISTING</div>
      </div>
      <div class="border-end border-dark-subtle d-flex">
         <div class="px-4 align-self-center" style="width:250px; text-align:right;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
      </div>
   </div>

   <div class="border-dark-subtle border-start border-end border-bottom mb-3">
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-bottom border-dark-subtle">
         <div class="fw-bold">GENERAL</div>
      </div>
      <div class="px-2">
         <div class="mb-3 d-flex flex-row justify-content-evenly">
            <div class="me-4 w-100">
               <div>Specify location within terminal:</div>
               <div><span class="form-value"><span class="form-value">{{ attached_certificates.form_g.location }}</span></span></div>
            </div>
            <div class="ms-4 w-100">
               Lifting Plan No: <span class="form-value"><span class="form-value">{{ attached_certificates.form_g.lifting_plan_no }}</span></span>
               <div class="mt-1">
                  (Lifting Plan to be attached for Level 2 lift)
               </div>
            </div>
         </div>
         <div class="mb-2">
            <div class="mb-2">Type of lift (Get advise from HSSE Department)</div>
            <div class="d-flex flex-row">
               <div class="me-4 d-flex flex-row align-items-center">
                  <div class="me-2">{{ attached_certificates.form_g.type_of_lift.level1 }}</div>
                  <div>Level 1 (Simple Lift)</div>
               </div>
               <div class="ms-4 d-flex flex-row align-items-center">
                  <div class="me-2">{{ attached_certificates.form_g.type_of_lift.level2 }}</div>
                  <div> Level 2 (Complicated and Complex Lift)</div>
               </div>
            </div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold">SAFE CHECK FOR SAFE LIFTING</div>
      </div>
      <div class="px-2">
         <div class="mb-2">
            <div class="mb-2 d-flex flex-row">
               <div class="flex-grow-1">&nbsp;</div>
               <div class="text-center fw-bold" style="width:30px;">YES</div>
               <div class="text-center fw-bold" style="width:30px;">NO</div>
               <div class="text-center fw-bold" style="width:30px;">N/A</div>
            </div>
            <div class="d-flex flex-row align-items-center">
               <div class="flex-grow-1">
                  Trained/qualified person undertaking this work and screened by Terminal Team
               </div>
               <div class="text-center" style="width:30px;">
                  {{ attached_certificates.form_g.safe_checks.check1.yes }}
               </div>
               <div class="text-center" style="width:30px;">
                  {{ attached_certificates.form_g.safe_checks.check1.no }}
               </div>
               <div class="text-center" style="width:30px;">
                  {{ attached_certificates.form_g.safe_checks.check1.na }}
               </div>
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Crane inspected and all related certificate still valid (upload the document)
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check2.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check2.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check2.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Lifting plan communicated with Terminal team and ground team
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check3.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check3.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check3.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Pre-job discussion conducted
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check4.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check4.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check4.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Person in charge and lifting team (signalman, banksman, rigger etc.) identified
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check5.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check5.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check5.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Lifting plan communicated with Terminal team and ground team
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check6.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check6.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check6.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               JHA and JMS communicated with Terminal team and ground team
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check7.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check7.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check7.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               The working area is defined with barriers/signs
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check8.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check8.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check8.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               The lift area controlled and is everyone clear if the load falls or swings
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check9.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check9.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check9.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Environmental limits  (e.g. maximum permissible wind speed) for the lift communicated
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check10.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check10.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check10.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Signalling methods and communication agreed and clear
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check11.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check11.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check11.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Space constrain addressed and terminal critical equipment identified
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check12.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check12.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check12.na }}
            </div>
         </div>
         <div class="mb-2 d-flex flex-row align-items-center">
            <div class="flex-grow-1">
               Terminal critical equipment and property at the load swinging radius safeguarded (removed, hard barricaded etc.)
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check13.yes }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check13.no }}
            </div>
            <div class="text-center" style="width:30px;">
               {{ attached_certificates.form_g.safe_checks.check13.na }}
            </div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold">VALIDITY OF THE LIFTING AND HOISTING PERMIT</div>
      </div>
      <div class="px-2">
         <div class="mb-3">
            <div class="mb-2 fs-7 fw-bold">Lead Permit Issuer (LPI)</div>
            <div class="mb-2">
               Lifting and Hoisting Work as described in the Permit to Work is allowed between
            </div>
            <div>
               From: <span class="form-value fw-bold me-3"><span class="form-value">{{ attached_certificates.form_g.permit_validity.from }}</span></span> 
               To: <span class="form-value fw-bold"><span class="form-value">{{ attached_certificates.form_g.permit_validity.to }}</span></span>
            </div>
         </div>
         <hr />
         <div class="mb-4">
            <div class="mb-2 fs-7 fw-bold">Signed Engineering (if required)</div>
            <div class="mb-2 d-flex flex-row">
               <div class="me-3">
                  {{ attached_certificates.form_g.permit_validity.signed_engineering }}
               </div>
               <div>
                  <label for="formG-signed-1">
                     I certify that I have reviewed the proposed work and I am satisfied that it is adequately
                     described on the Permit to Work and that the precautions detailed are adequate and clearly defined.
                  </label>
               </div>
            </div>
         </div>
         <hr />
         <div class="mb-4">
            <div class="mb-2 fs-7 fw-bold">Permit Holder (PH)</div>
            <div class="mb-2 d-flex flex-row">
               <div class="me-3">
                  {{ attached_certificates.form_g.permit_validity.signed_ph }}
               </div>
               <div>
                  <label for="formG-signed-2">
                     I certify that I am aware of the planned Lifting and Hoisting Work and that provided the precautions
                     detailed on the Permit to Work are established and maintained the work may progress, subjected to the
                     Permit to Work being validated.
                  </label>
               </div>
            </div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold">LIFTING AND HOISTING CERTIFICATE IS WITHDRAWN</div>
      </div>
      <div class="px-2 pb-2">
         <div class="d-flex flex-row align-items-center">
            <div class="me-3 form-value">
               <strong>{{ attached_certificates.form_g.permit_withdrawn.yesno }}</strong>
            </div>
            <div class="me-3" for="tbWithdrawnReason">Reason</div>
            <div class="flex-grow-1 form-value">
               <span class="form-value">{{ attached_certificates.form_g.permit_withdrawn.reason }}</span>
            </div>
         </div>
      </div>
   </div>
</div>