<div style="page-break-after: always;"></div>
<div class="mb-3" style="width: 750px;">
   <div class="d-flex flex-row border-top border-bottom border-dark-subtle">
      <div class="border-start border-dark-subtle">
         <div class="px-4"><h1 class="fw-bold mb-0">F</h1></div>
      </div>
      <div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
         <div class="px-4 fs-6 fw-bold align-self-center">METHOD STATEMENT</div>
      </div>
      <div class="border-end border-dark-subtle d-flex">
         <div class="px-4 align-self-center" style="width:250px; text-align:right;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
      </div>
   </div>

   <div class="border-dark-subtle border-start border-end border-bottom mb-3">
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-bottom border-dark-subtle">
         <div class="fw-bold">DESCRIPTION OF WORKS</div>
      </div>
      <div class="px-2">
         <div>
            <div>What the work involve?</div>
            <div class="form-value">{{ attached_certificates.form_f.works_description.desc1 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>How is it going to be completed? Summarise the operation:</div>
            <div class="form-value">{{ attached_certificates.form_f.works_description.desc2 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>Where is the work going to be completed? (Summary - more details on 5ection 5)</div>
            <div class="form-value">{{ attached_certificates.form_f.works_description.desc3 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>Duration of the work? (Stating any times when access to the Terminal will not be required)</div>
            <div class="form-value">{{ attached_certificates.form_f.works_description.desc4 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>lnclude site location drawings if appropriate?</div>
            <div class="form-value">{{ attached_certificates.form_f.works_description.desc5 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>Are there any restrictions e.g. overhead power lines?</div>
            <div class="form-value">{{ attached_certificates.form_f.works_description.desc6 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>Are local permits required (Local regulations)?</div>
            <div class="form-value">{{ attached_certificates.form_f.works_description.desc7 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div  class="mb-2">
            <div>Any other details</div>
            <div class="form-value">{{ attached_certificates.form_f.works_description.desc8 }}</div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold">NAMES OF RESPONSIBLE PERSONS</div>
      </div>
      <div class="px-2">
         <div>
            <div>Who is going to be working on the project?</div>
            <div class="form-value">{{ attached_certificates.form_f.responsible_person_names.person1 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>Who will be in charge?</div>
            <div class="form-value">{{ attached_certificates.form_f.responsible_person_names.person2 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>Who has specific responsibilities? e.g. Plant, personnel, materials, etc.</div>
            <div class="form-value">{{ attached_certificates.form_f.responsible_person_names.person3 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>Who is to make contact with local authorities?</div>
            <div class="form-value">{{ attached_certificates.form_f.responsible_person_names.person4 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div class="mb-2">
            <div>Any other details?</div>
            <div class="form-value">{{ attached_certificates.form_f.responsible_person_names.person5 }}</div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold">PLANT AND EQUIPMENT</div>
      </div>
      <div class="px-2 pb-2">
         <div>
            <div>What plant equipment and tools are required to do the job?</div>
            <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip1 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div class="mb-2">Who will be in charge?</div>
            <div class="ms-3 mb-2">
               <div>Tools (for cold work)</div>
               <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip2 }}</div>
            </div>
            <div class="ms-3 mb-2">
               <div>Tools (that may generate sparks, ignitions sources, etc.)</div>
               <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip3 }}</div>
            </div>
            <div class="ms-3 mb-2">
               <div>Cherry pickers</div>
               <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip4 }}</div>
            </div>
            <div class="ms-3 mb-2">
               <div>Scaffolding</div>
               <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip5 }}</div>
            </div>
            <div class="ms-3 mb-2">
               <div>Loading of materials</div>
               <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip6 }}</div>
            </div>
            <div class="ms-3 mb-2">
               <div>Others, please specify</div>
               <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip7 }}</div>
            </div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>What certificates, if any, are required for plant or equiprnent?</div>
            <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip8 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>What training, if any, is required for operatives?</div>
            <div class="form-value">{{ attached_certificates.form_f.plant_equipment.equip9 }}</div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold">COMMUNICATIONS WITH WORKFORCE</div>
      </div>
      <div class="px-2">
         <div>
            <div>How are the procedures, hazards to be communicates to the workforce?</div>
            <div class="form-value">{{ attached_certificates.form_f.communications_workforce.comm1 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>Toolbox talks, safety meetings etc.</div>
            <div class="form-value">{{ attached_certificates.form_f.communications_workforce.comm2 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div>
            <div>lnclude records of any such meetings and record attendance</div>
            <div class="form-value">{{ attached_certificates.form_f.communications_workforce.comm3 }}</div>
         </div>
         <hr style="margin: 5px 0px;" />
         <div class="mb-2">
            <div>Others, please specify</div>
            <div class="form-value">{{ attached_certificates.form_f.communications_workforce.comm4 }}</div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold">HOW WILL THE WORK BE COMPLETED (PROCEDURE STEP-BY-STEP)</div>
      </div>
      <div class="px-2">
         <div class="mb-3 d-flex flex-row">
            <span class="me-5">Proposed start date/time: <span class="ms-3 form-value"><strong>{{ attached_certificates.form_f.work_to_be_completed.work1 }}</strong></span></span>
            <span>Finish date/time: <span class="ms-3 form-value"><strong>{{ attached_certificates.form_f.work_to_be_completed.work2 }}</strong></span></span>
         </div>
         <div class="mb-3">
            <div>Details</div>
            <div class="form-value">{{ attached_certificates.form_f.work_to_be_completed.work3 }}</div>
         </div>
      </div>
   </div>
</div>