<div style="page-break-after: always;"></div>
<div class="mb-3" style="width: 750px;">
   <div class="d-flex flex-row border-top border-bottom border-dark-subtle">
      <div class="border-start border-dark-subtle">
         <div class="px-4"><h1 class="fw-bold mb-0">C</h1></div>
      </div>
      <div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
         <div class="px-4 fs-6 fw-bold align-self-center">RADIATION</div>
      </div>
      <div class="border-end border-dark-subtle d-flex">
         <div class="px-4 align-self-center" style="width:250px; text-align:right;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
      </div>
   </div>
   <div class="border-dark-subtle border-start border-end border-bottom mb-3">
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform:uppercase;">GENERAL INFORMATION</div>
      </div>
      <div class="px-2 mb-2">
         Only valid for routine activities ionise radiation source. (Only to be completed by authorised persons).
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform:uppercase;">To be completed by the Permit Holder</div>
      </div>
      <div class="px-2 mb-3">
         <div class="mb-3">
            <div>Radioactive material being used, please specify: <span class="form-value">{{ attached_certificates.form_c.radioactive_material_used }}</span></div>
         </div>
         <div class="mb-3">
            <div>Radioactive material being used, please specify: <span class="form-value">{{ attached_certificates.form_c.material_activity }}</span> Bg/mCi</div>
         </div>
         <div class="mb-3">
            <div>Contained within: <span class="form-value">{{ attached_certificates.form_c.contained_within }}</span></div>
         </div>
         <div class="mb-3">
            <div class="d-flex flex-column flex-md-row">
               <div class="me-5">
                  <div class="d-flex flex-row align-items-center">
                     <div class="me-2">{{ attached_certificates.form_c.xray.checkbox }}</div>
                     <div>X-ray machine</div>
                  </div>
               </div>
               <div class="mt-3 mt-md-0">
                  <div class="d-flex flex-row align-items-center mb-2 ms-4 ms-md-0">
                     <label style="min-width: 140px;">Manufacturer/model</label>
                     <div class="ms-3">
                        <span class="form-value">{{ attached_certificates.form_c.xray.manufacturer }}</span>
                     </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-2 ms-4 ms-md-0">
                     <label style="min-width: 140px;">Max tube voltage</label>
                     <div class="ms-3 me-3">
                        <span class="form-value">{{ attached_certificates.form_c.xray.max_tube_voltage }}</span>
                     </div>
                     <div>kV</div>
                  </div>
                  <div class="d-flex flex-row align-items-center ms-4 ms-md-0">
                     <label style="min-width: 140px;">Max tube current</label>
                     <div class="ms-3 me-3">
                        <span class="form-value">{{ attached_certificates.form_c.xray.max_tube_current }}</span>
                     </div>
                     <div>mA</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mb-3">
            <div class="d-flex flex-column flex-md-row">
               <div class="me-5">
                  <div class="d-flex flex-row align-items-center">
                     <div class="me-2">{{ attached_certificates.form_c.other.checkbox }}</div>
                     <div>Other equipment, specify: <span class="form-value">{{ attached_certificates.form_c.other.value }}</span></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mb-3">
            <div>Additional information about operation of equipment:</div>
            <div><span class="form-value">{{ attached_certificates.form_c.additional_info }}</span></div>
         </div>
         <div class="mb-3 d-flex flex-row align-items-center">
            <div class="me-5">Radiation equipment will be used between</div>
            <div class="me-3">From: <strong><span class="form-value">{{ attached_certificates.form_c.radiation_equipment_used.from }}</span></strong></div>
            <div>To: <strong><span class="form-value">{{ attached_certificates.form_c.radiation_equipment_used.to }}</span></strong></div>
         </div>
         <div class="mb-3">
            <div>Measures to prevent and mitigate exposure:</div>
            <div><span class="form-value">{{ attached_certificates.form_c.measures_prevent_exposure }}</span></div>
         </div>
         <div class="mb-4">
            <div>Additional controls required:</div>
            <div><span class="form-value">{{ attached_certificates.form_c.additional_controls }}</span></div>
         </div>
         <div class="text-center">
            <div class="mb-0 fw-bold fs-7">ALL IRREGULARITIES DURING WORK MUST BE REPORTED IMMEDIATELY TO THE PERMIT HOLDER</div>
         </div>
      </div>

      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform:uppercase;">Validity of the Radiation Permit</div>
      </div>
      <div class="px-2 mb-2">
         <div class="mb-3">
            I certify that I have reviewed the proposed work and I am satisfied that it is adequately described on the
            Permit to Work documents and that the precautions detailed in this certificate are adequate and clearly defined.
         </div>
         <div class="mb-3">
            <div class="mb-2">
               Radiation Permit is allowed between <span class="ms-5 me-3">From: <strong><span class="form-value">{{ attached_certificates.form_c.permit_validity.from }}</span></strong></span>
               <span class="ms-5 me-3">To: <strong><span class="form-value">{{ attached_certificates.form_c.permit_validity.to }}</span></strong></span>
            </div>
         </div>
      </div>
      <div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
         <div class="fw-bold" style="text-transform:uppercase;">Radiation Certificate is Withdrawn</div>
      </div>
      <div class="px-2 mb-2">
         <div>
            <div class="d-flex flex-row align-items-center">
               <div class="me-3">
                  <strong>{{ attached_certificates.form_c.permit_withdrawn.yesno }}</strong>
               </div>
               <div class="me-3" for="tbWithdrawnReason">Reason</div>
               <div class="flex-grow-1">
                  <span class="form-value">{{ attached_certificates.form_c.permit_withdrawn.reason }}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>