<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Permit</title>
	<style>
		@import url('https://staging.permitpro.app/lib/bootstrap/css/bootstrap.min.css');
		@import url('https://staging.permitpro.app/lib/fontawesome/css/all.min.css');
		
		body, div, span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 9pt;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>
</head>
<body>
	<div class="mb-3" style="width: 750px;">
		<div class="d-flex flex-row border-top border-bottom border-dark-subtle">
			<div class="">
				<div class="px-4"><h1 class="fw-bold mb-0">A</h1></div>
			</div>
			<div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
				<div class="px-4 fs-5 align-self-center">HOT WORK</div>
			</div>
			<div class="border-end border-dark-subtle d-flex">
				<div class="px-4 align-self-center" style="width:250px;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
			</div>
		</div>
		<div class="border-start border-end border-bottom border-dark-subtle">
			<div class="border-bottom border-top-0 border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold">GENERAL INFORMATION</span>
			</div>
			<div>
				<div class="p-2">
					Emergency contact number: {{ emergency_contact }}
				</div>
			</div>
			<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold">HOT WORK CHECKLIST</span>
			</div>
			<div class="p-2">
				<div class="d-flex flex-row align-items-center">
					<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
					<div>Communication link has been established with Operations control room.</div>
				</div>
				<div class="d-flex flex-row align-items-center">
					<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
					<div>Calibrated gas tester to be used by AGT.</div>
				</div>
				<div class="d-flex flex-row align-items-center">
					<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
					<div>The working area is defined with barriers or signs to prevent un-authorized entry.</div>
				</div>
				<div class="d-flex flex-row align-items-center">
					<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
					<div>Designated fire watch is assigned and understands their role.</div>
				</div>
				<div class="d-flex flex-row">
					<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
					<div>
						Area within 15 meters of ignition sources are free of flammable materials or such materials are covered with fire
						retardant material.
					</div>
				</div>
				<div class="d-flex flex-row align-items-center">
					<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
					<div>Sewer and drain systems and other low lying areas are protected against sparks within 15 meters.</div>
				</div>
				<div class="d-flex flex-row align-items-center">
					<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
					<div>Fire fighting materials are present and ready for use.</div>
				</div>
			</div>
			<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">HOT WORK IGNITION SOURCES (mark the applicable sources for the work being performed)</span>
			</div>
			<div class="p-2">
				<div class="d-flex flex-row">
					<div class="d-flex flex-row align-items-center me-5">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Welding</div>
					</div>
					<div class="d-flex flex-row align-items-center me-5">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Burining</div>
					</div>
					<div class="d-flex flex-row align-items-center me-5">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Gas Cutting</div>
					</div>
					<div class="d-flex flex-row align-items-center me-5">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Grinding</div>
					</div>
					<div class="d-flex flex-row align-items-center">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Other ({{ ignition_src }})</div>
					</div>
				</div>
			</div>
			<div class="p-2 border-top border-dark-subtle">
				Gas Tests Performed by: {{ agt_name }}
			</div>
			<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">INITIAL LEL READING by AGT: Hot Work not to commence unless LEL reading is 0% (&lt;% considered negligible and OK)</span>
			</div>
			<div>
				<div class="d-flex flex-row justify-content-evenly">
					<div class="w-100 border-end border-dark-subtle p-2">
						Date and Time: {{ init_lel_reading_datetime }}
					</div>
					<div class="w-100 p-2">
						Initial LEL % Reading: {{ init_lel_reading }}
					</div>
				</div>
			</div>
			<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">LEL Testing Results During the Hot Work: Work to be halted if LEL readings are not less than 1% LEL</span>
			</div>
			<div class="p-2">
				<div>If non continuous testing is done specify testing frequency required and record results below:</div>
				<div>Enter required frequency here: {{ req_frequency }}</div>
				<div class="mt-3">
					<table class="table" cellpadding="2" cellspacing="0">
						<thead>
							<tr>
								<th style="width:200px;">Time of reading</th>
								<th>LEL reading</th>
							</tr>
						</thead>
						<tbody>
							{{- for item in lelreadings }}
							<tr>
								<td>{{ item.date_time }}</td>
								<td>{{ item.reading }}</td>
							</tr>
							{{- end }}
						</tbody>
					</table>
				</div>
			</div>
			<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">Other Atmospheric Testing results if required: enter any potentially toxic gases to be monitored below:</span>
			</div>
			<div class="p-2">
				<div class="">
					<table class="table" cellpadding="2" cellspacing="0">
						<thead>
							<tr>
								<th style="width:200px;">Time of reading</th>
								<th>O<sub>2</sub> reading</th>
							</tr>
						</thead>
						<tbody>
							{{- for item in o2readings }}
							<tr>
								<td>{{ item.date_time }}</td>
								<td>{{ item.reading }}</td>
							</tr>
							{{- end }}
						</tbody>
					</table>
				</div>
			</div>
			<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">Validty of the Hot Work Certificate</span>
			</div>
			<div class="p-2">
				<div class="d-flex flex-row">
					<div class="me-2">
						<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
					</div>
					<div>
						I certify that I have reviewed the proposed work and I am satisfied that the workers understand the
						hazards and that preventive measures are in place with adequate supervision to proceed.
					</div>
				</div>
				<hr class="mb-2" />
				<div class="d-flex flex-row justify-content-evenly">
					<div class="w-100">
						Hot work as described in the Permit to Work is allowed between:
					</div>
					<div class="w-100">
						<div>
							<span class="me-3">From: {{ valid_from }}</span>
							<span>To: {{ valid_to }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">Hot Work Certificate Is Withdrawn</span>
			</div>
			<div class="d-flex flex-row justify-content-evenly">
				<div class="w-50 p-2 border-end border-dark-subtle">
					<div>Date/Time:</div>
					<div>{{ withdrawn_datetime }}</div>
				</div>
				<div class="w-50 p-2">
					<div>Reason:</div>
					<div>{{ withdrawn_reason }}</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://staging.permitpro.app/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>