<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Permit</title>
	<style>
		@import url('https://staging.permitpro.app/lib/bootstrap/css/bootstrap.min.css');
		@import url('https://staging.permitpro.app/lib/fontawesome/css/all.min.css');
		
		body, div, span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 9pt;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: Arial, Helvetica, sans-serif;
		}

		.form-value {
			color: steelblue;
		}
	</style>
</head>
<body>
	<div style="page-break-after: always;"></div>
	<div class="mb-3" style="width: 750px;">
		<div class="d-flex flex-row border-top border-bottom border-dark-subtle">
			<div class="border-start border-dark-subtle">
				<div class="px-4"><h1 class="fw-bold mb-0">B</h1></div>
			</div>
			<div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
				<div class="px-4 fs-6 fw-bold align-self-center">CONFINED SPACE</div>
			</div>
			<div class="border-end border-dark-subtle d-flex">
				<div class="px-4 align-self-center" style="width:250px; text-align:right;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
			</div>
		</div>

		<div class="border-dark-subtle border-start border-end border-bottom mb-3">
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">INSTRUCTIONS</span>
			</div>
			<div class="px-2">
				<ul class="mb-2">
					<li>
						This certificate along with its base PTW is intended to assure identification and communication of potential
						hazards and threats along with the preventive and mitigating barrier plans to anyone who could impact or is impacted by the work activity.
					</li>
					<li>
						Prior to ANY WORKER ENTERING a confined space, the Permit Holder will review the potential hazards and controls
						to prevent harm to impacted workers.
					</li>
				</ul>
			</div>

			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">Attendant Name and Description of Work Information</span>
			</div>
			<div class="px-3 mb-2">
				<div class="mb-3">
					<div>Designated attendant(s) name:</div>
					<div>[X]</div>
				</div>
				<div>
					<div>Description of the confined space:</div>
					<div>[X]</div>
				</div>
			</div>

			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">GAS TEST PERFORMED BY (AGT name and signature)</span>
			</div>
			<div class="px-3 mb-2">
				<div class="mb-4 text-secondary">
					Allowable atmospheres: Utilize MSDS and Shell Site Industrial Hygienist as needed for support for specifying
					respirator protection and assuring fitness to work when respirator protection used.
				</div>
				<div class="mb-4">
					<table class="table table-sm table-bordered table-gas-info">
						<thead>
							<tr>
								<th scope="col">&nbsp;</th>
								<th scope="col">Without Respiratory Protection</th>
								<th scope="col">With Respiratory Protection</th>
								<th scope="col">Inert Entry</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Oxygen %</td>
								<td>20 to max. 21.5</td>
								<td>&gt;16 to max. 21.5</td>
								<td>&lt;4</td>
							</tr>
							<tr>
								<td>Toxics</td>
								<td>&lt; ½ OEL</td>
								<td>&lt; IDLH</td>
								<td>Not applicable</td>
							</tr>
							<tr>
								<td>Flammables % of LEL</td>
								<td>Not detectable (&lt;1)</td>
								<td>
									&lt;10; For hot work - not detectable
								</td>
								<td>&lt;10</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="d-flex flex-row align-items-center">
					<div class="me-3">AGT name</div>
					<div class="flex-grow-1">
						[X]
					</div>
				</div>
			</div>

			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">INITIAL GAS READINGS by AGT prior to Permit approval: Input applicable toxic below</span>
			</div>
			<div class="px-3 mb-2">
				<div class="d-flex flex-row align-items-center justify-content-evenly mb-3">
					<div class="w-100 mb-2 mb-0 me-0 me-3">
						<div>Date and time</div>
						<div>[X]</div>
					</div>
					<div class="w-100 mb-2 mb-0 ms-0 ms-3 me-0 me-3">
						<div>Initial LEL %</div>
						<div>[X]</div>
					</div>
					<div class="w-100 mb-2 mb-0 ms-0 ms-3 me-0 me-3">
						<div>Oxygen %</div>
						<div>[X]</div>
					</div>
					<div class="w-100 mb-2 mb-0 ms-0 ms-3 me-0 me-3">
						<div>Toxic</div>
						<div>[X]</div>
					</div>
					<div class="w-100 mb-0 ms-0 ms-3">
						<div>Toxic</div>
						<div>[X]</div>
					</div>
				</div>
				<div class="mb-3 text-secondary">
					Monitoring while entrants are inside the confined space. Continuous gas monitoring is the preferred method.
					When non continuous testing is used, document the required interval and the gas monitoring results while workers
					are inside the confined space. Input below toxic gas to be monitored as applicable.
				</div>
				<div class="d-flex flex-row align-items-center mb-4">
					<div>Designated required frequency of testing</div>
					<div class="ms-3">
						[X]
					</div>
				</div>
				<div class="mb-4">
					<table id="tbl1FormB" class="table table-striped display responsive nowrap" style="width: 100%;">
						<thead>
							<tr>
								<th scope="col" data-priority="1">Time of test</th>
								<th scope="col" data-priority="2">Flammable Gas % LEL</th>
								<th scope="col" data-priority="3">Oxygen %</th>
								<th scope="col">Toxic</th>
								<th scope="col">Toxic</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="list-group list-group-flush">
					<div class="list-group-item bg-secondary-subtle px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1"><span class="fw-bold" style="text-transform:uppercase;">POTENTIAL HAZARDS</span></div>
							<div class="hazard-option text-center mx-1"><span class="fw-bold" style="text-transform: uppercase;">YES</span></div>
							<div class="hazard-option text-center mx-1"><span class="fw-bold" style="text-transform: uppercase;">NO</span></div>
							<div class="hazard-option text-center mx-1"><span class="fw-bold" style="text-transform: uppercase;">N/A</span></div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">H<sub>2</sub>S (Hydrogen Sulphide)</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Oxygen Deficiency (e.g. Nitrogen)</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Flammable/Explosive Gas</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Flammable, Liquids/Solids</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Electrical</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Ionizing Radiation (X-Ray)</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Below Ground Level (Cave In)</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Environmental Conditions</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Engulfment by liquids or solids</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Temperature</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">Ignition Sources</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">
								<div class="d-flex flex-row align-items-center">
									<label>Other</label>
									<div class="ms-2">
										[X]
									</div>
								</div>
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">
								<div class="d-flex flex-row align-items-center">
									<label>Other</label>
									<div class="ms-2">
										[X]
									</div>
								</div>
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
					<div class="list-group-item px-3">
						<div class="d-flex flex-row justify-content-end">
							<div class="flex-grow-1">
								<div class="d-flex flex-row align-items-center">
									<label>Other</label>
									<div class="ms-2">
										[X]
									</div>
								</div>
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
							<div class="hazard-option text-center mx-1">
								<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">COMMUNICATION REQUIREMENTS</span>
			</div>
			<div class="px-3 mb-2">
				<div class="mb-2">
					Check the (√) means of communication to be used
				</div>
				<div class="d-flex align-items-center flex-row mb-3">
					<div class="me-5 d-flex align-items-center flex-row">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Radio</div>
					</div>
					<div class="me-5 d-flex align-items-center flex-row">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Voice</div>
					</div>
					<div class="me-5 d-flex align-items-center flex-row">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Visual</div>
					</div>
					<div class="me-5 d-flex align-items-center flex-row">
						<div class="me-2"><img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" /></div>
						<div>Other ([X])</div>
					</div>
				</div>
				<div>
					<ul class="mb-0">
						<li>
							The Attendant must be able to communicate with the worker(s) inside the confined space at all times.
						</li>
						<li>
							Should the Attendant be unable to establish communications after several attempts, activate the Rescue Plan
						</li>
					</ul>
				</div>
			</div>

			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">Personal Protective and Emergency/Rescue Equipment Required On Site</span>
			</div>
			<div class="px-3 mb-2">
				<div class="mb-3">
					Check items below in addition to the PPE specified on base PWT. Respiratory equipment requires fitness to work acceptability.
				</div>
				<div>
					<div class="list-group list-group-flush">
						<div class="list-group-item bg-secondary-subtle px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1"><span class="fw-bold" style="text-transform:uppercase;">PPE EQUIPMENT</span></div>
								<div class="hazard-option text-center mx-1"><span class="fw-bold" style="text-transform:uppercase;">YES</span></div>
								<div class="hazard-option text-center mx-1"><span class="fw-bold" style="text-transform:uppercase;">NO</span></div>
								<div class="hazard-option text-center mx-1"><span class="fw-bold" style="text-transform:uppercase;">N/A</span></div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">Self Contained Breathing Apparatus</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">Supplied Air Breathing Apparatus</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Ground Fault interrupters in place for portable lighting and small electrical tools
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Ropes (Life Lines)
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Full Body Harness
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Head, Hearing, Hand, Foot, And Body Protection Provided
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Barriers in place to prevent unauthorized access/entry to confined space
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Ventilation equipment
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Calibrated Gas testing equipment
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Portable Lighting
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									<div class="d-flex flex-row align-items-center">
										<label>Other</label>
										<div class="ms-2">
											[X]
										</div>
									</div>
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item bg-secondary-subtle px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1"><span class="fw-bold" style="text-transform:uppercase;">RESCUE EQUIPMENT</span></div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Confined Space Rescue Package
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									<span class="ms-4">Horizontal</span>
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									<span class="ms-4">Vertical</span>
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Portable Breathing Air Systems
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Safe exit (ladders or other means in place)
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Defibrillator available?
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									Fire Extinguishers available?
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
						<div class="list-group-item px-3">
							<div class="d-flex flex-row justify-content-end">
								<div class="flex-grow-1">
									<div class="d-flex flex-row align-items-center">
										<label>Other</label>
										<div class="ms-2">
											[X]
										</div>
									</div>
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
								<div class="hazard-option text-center mx-1">
									<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">Validity of the Confined Space Permit</span>
			</div>
			<div class="px-3 mb-2">
				<div class="mb-3">
					I certify that I have reviewed the proposed work and I am satisfied that the workers understand the hazards
					and that preventive measures are in place with adequate supervision to proceed.
				</div>
				<div class="mb-3">
					<div class="d-flex flex-row mb-3">
						<div class="">
							Confined Space Permit is allowed between:
						</div>
						<div class="ms-3 me-3">
							From: <strong>[X]</strong>
						</div>
						<div class="">
							To: <strong>[X]</strong>
						</div>
					</div>
				</div>
			</div>

			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">Confined Space Certificate is Withdrawn</span>
			</div>
			<div class="px-3 mb-2">
				<div class="d-flex flex-row align-items-center">
					<div class="me-3">
						<strong>YES</strong>
					</div>
					<div class="me-3" for="tbWithdrawnReason">Reason</div>
					<div class="flex-grow-1">
						[X]
					</div>
				</div>
			</div>

			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<span class="fw-bold" style="text-transform:uppercase;">Confined Space Entry Record</span>
			</div>
			<div class="px-3 mb-2">
				<div>
					<table id="tbl2FormB" class="table table-striped display responsive" style="width: 100%;">
						<thead>
							<tr>
								<th scope="col" class="">Worker Name</th>
								<th scope="col" class="">Worker Signature</th>
								<th scope="col" class="">Reason For Entry</th>
								<th scope="col" class="">Time Of Entry</th>
								<th scope="col" class="">Time Of Exit</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
							</tr>
							<tr>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
								<td>[X]</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

	</div>

	<script src="https://staging.permitpro.app/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>