<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Permit</title>
	<style>
		@import url('https://staging.permitpro.app/lib/bootstrap/css/bootstrap.min.css');
		@import url('https://staging.permitpro.app/lib/fontawesome/css/all.min.css');

		body, div, span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 9pt;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: Arial, Helvetica, sans-serif;
		}

		.form-value {
			color: steelblue;
		}
	</style>
</head>
<body>
	<div style="page-break-after: always;"></div>
	<div class="mb-3" style="width: 750px;">
		<div class="d-flex flex-row border-top border-bottom border-dark-subtle">
			<div class="border-start border-dark-subtle">
				<div class="px-4"><h1 class="fw-bold mb-0">H</h1></div>
			</div>
			<div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
				<div class="px-4 fs-6 fw-bold align-self-center">SAFEGUARDING SYSTEMS OVERRIDE</div>
			</div>
			<div class="border-end border-dark-subtle d-flex">
				<div class="px-4 align-self-center" style="width:250px; text-align:right;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
			</div>
		</div>

		<div class="border-dark-subtle border-start border-end border-bottom mb-3">
			<div class="px-2 pt-2">
				<div class="mb-3 fs-7 fw-bold">
					Override of safeguarding protective devices may utilize a standing procedure, the MOC process,
					or PTW process (including this certificate).
				</div>
				<div class="mb-2 fs-7 fw-bold">
					This PTW Override may not be utilized for the purpose of preventing an alarm trip associated
					with a known actual exceedence of an established operating parameter (pressure, flow, temperature,
					fill height, etc) for which the device is intended. It may be utilized for scheduled and planned
					overrides (typically for testing or maintenance) when the operating parameters are otherwise
					controlled within approved limits during the override period.
				</div>
			</div>
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<div class="fw-bold">TO BE COMPLETED BY THE PERMIT HOLDER</div>
			</div>
			<div class="px-2 pb-2">
				<div>
					<div>Identify the protective device/system including alarms that are to be overridden:</div>
					<div class="form-value">[XXXXXXXXXXXX]</div>
				</div>
				<hr style="margin: 5px 0px;" />
				<div>
					<div>Name of person responsible for the override while it in place:</div>
					<div class="form-value">[XXXXXXXXXXXX]</div>
				</div>
				<hr style="margin: 5px 0px;" />
				<div>
					<div>Name of person who will assure that the protective device or system has been properly returned to correct operating condition upon completion of the override:</div>
					<div class="form-value">[XXXXXXXXXXXX]</div>
				</div>
				<hr style="margin: 5px 0px;" />
				<div>
					<div>Name of person who will assure that Operating personnel are made aware that the override is completed and the device is ready for normal service:</div>
					<div class="form-value">[XXXXXXXXXXXX]</div>
				</div>
				<hr style="margin: 5px 0px;" />
				<div>
					<div>
						The risks of the override must be evaluated and sufficient barriers put in place to prevent unintended consequences
						related to the override. Communication prior to and after the override is critically important. This PTW and
						certificate are intended to put in place such communications and any other barriers identified to prevent unintended
						consequences related to the override during the period of and after its’ implementation. Use the space below to
						document any additional barriers not already covered elsewhere in this PTW.
					</div>
					<div class="form-value">
						[XXXXXXXXXXXX]
					</div>
				</div>
				<hr style="margin: 5px 0px;" />
				<div>
					<div>
						Operating precautions (people and equipment barriers) including measures to prevent a related process upset condition
						while the override is in place and the plans including communications for return to normal service.
					</div>
					<div class="form-value">
						[XXXXXXXXXXXX]
					</div>
				</div>
			</div>
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<div class="fw-bold">PLANNED DURATION OF OVERRIDE</div>
			</div>
			<div class="px-2 pb-2">
				<div class="mb-2">
					Over rides extending beyond a single shift must have the PTW for the override re-issued at the
					beginning of the next shift. Longer term overrides (lasting into a weekend) should utilize the MOC process.
				</div>
				<div>
					From: <span class="form-value fw-bold me-3">[X]</span> To: <span class="form-value fw-bold">[X]</span>
				</div>
			</div>
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<div class="fw-bold">VALIDITY OF THE OVERRIDE PERMIT</div>
			</div>
			<div class="px-2 pb-2">
				<div class="mb-2">
					<div class="mb-2 fw-bold">Lead Permit Issuer (LPI)</div>
					<div class="d-flex flex-row">
						<div class="me-2">
							<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
						</div>
						<div>
							<div class="mb-2">
								I certify that I have reviewed the proposed work and I am satisfied that it is adequately described
								on the Permit to Work documents and that the precautions detailed in this certificate are adequate
								and clearly defined. The Permit to Work is allowed between:
							</div>
							<div>
								From: <span class="form-value fw-bold me-3">[X]</span> To: <span class="form-value fw-bold">[X]</span>
							</div>
						</div>
					</div>
				</div>
				<hr style="margin: 10px 0px;" />
				<div class="mb-2 fw-bold">Permit Holder (PH)</div>
				<div class="d-flex flex-row">
					<div class="me-2">
						<img src="https://staging.permitpro.app/img/cb-empty.png" style="width:20px;" />
					</div>
					<div>
						I certify that I am aware of the planned work and that the precautions detailed on the Permit
						documents are established and will be maintained throughout the work activity involving the over ride.
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://staging.permitpro.app/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>