<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Permit</title>
	<style>
		@import url('https://staging.permitpro.app/lib/bootstrap/css/bootstrap.min.css');
		@import url('https://staging.permitpro.app/lib/fontawesome/css/all.min.css');

		body, div, span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 9pt;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: Arial, Helvetica, sans-serif;
		}

		.form-value {
			color: steelblue;
		}
	</style>
</head>
<body>
	<div style="page-break-after: always;"></div>
	<div class="mb-3" style="width: 750px;">
		<div class="d-flex flex-row border-top border-bottom border-dark-subtle">
			<div class="border-start border-dark-subtle">
				<div class="px-4"><h1 class="fw-bold mb-0">F</h1></div>
			</div>
			<div class="border-start border-end border-dark-subtle d-flex align-items-stretch w-100">
				<div class="px-4 fs-6 fw-bold align-self-center">METHOD STATEMENT</div>
			</div>
			<div class="border-end border-dark-subtle d-flex">
				<div class="px-4 align-self-center" style="width:250px; text-align:right;">PTW NO: <span class="fw-bold">{{ permit_no }}</span></div>
			</div>
		</div>

		<div class="border-dark-subtle border-start border-end border-bottom mb-3">
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-bottom border-dark-subtle">
				<div class="fw-bold">DESCRIPTION OF WORKS</div>
			</div>
			<div class="px-2">
				<div class="mb-3">
					<div>What the work involve?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>How is it going to be completed? Summarise the operation:</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>Where is the work going to be completed? (Summary - more details on 5ection 5)</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>Duration of the work? (Stating any times when access to the Terminal will not be required)</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>lnclude site location drawings if appropriate?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>Are there any restrictions e.g. overhead power lines?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>Are local permits required (Local regulations)?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-2">
					<div>Any other details</div>
					<div class="form-value">[X]</div>
				</div>
			</div>
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<div class="fw-bold">NAMES OF RESPONSIBLE PERSONS</div>
			</div>
			<div class="px-2">
				<div class="mb-3">
					<div>Who is going to be working on the project?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>Who will be in charge?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>Who has specific responsibilities? e.g. Plant, personnel, materials, etc.</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>Who is to make contact with local authorities?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-2">
					<div>Any other details?</div>
					<div class="form-value">[X]</div>
				</div>
			</div>
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<div class="fw-bold">PLANT AND EQUIPMENT</div>
			</div>
			<div class="px-2">
				<div class="mb-3">
					<div>What plant equipment and tools are required to do the job?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div class="mb-2">Who will be in charge?</div>
					<div class="ms-3 mb-3">
						<div>Tools (for cold work)</div>
						<div class="form-value">[X]</div>
					</div>
					<div class="ms-3 mb-3">
						<div>Tools (that may generate sparks, ignitions sources, etc.)</div>
						<div class="form-value">[X]</div>
					</div>
					<div class="ms-3 mb-3">
						<div>Cherry pickers</div>
						<div class="form-value">[X]</div>
					</div>
					<div class="ms-3 mb-3">
						<div>Scaffolding</div>
						<div class="form-value">[X]</div>
					</div>
					<div class="ms-3 mb-3">
						<div>Loading of materials</div>
						<div class="form-value">[X]</div>
					</div>
					<div class="ms-3 mb-3">
						<div>Others, please specify</div>
						<div class="form-value">[X]</div>
					</div>
				</div>
				<div class="mb-3">
					<div>What certificates, if any, are required for plant or equiprnent?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-2">
					<div>What training, if any, is required for operatives?</div>
					<div class="form-value">[X]</div>
				</div>
			</div>
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<div class="fw-bold">COMMUNICATIONS WITH WORKFORCE</div>
			</div>
			<div class="px-2">
				<div class="mb-3">
					<div>How are the procedures, hazards to be communicates to the workforce?</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>Toolbox talks, safety meetings etc.</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-3">
					<div>lnclude records of any such meetings and record attendance</div>
					<div class="form-value">[X]</div>
				</div>
				<div class="mb-2">
					<div>Others, please specify</div>
					<div class="form-value">[X]</div>
				</div>
			</div>
			<div class="bg-secondary-subtle px-2 py-1 mb-2 border-top border-bottom border-dark-subtle">
				<div class="fw-bold">HOW WILL THE WORK BE COMPLETED (PROCEDURE STEP-BY-STEP)</div>
			</div>
			<div class="px-2">
				<div class="mb-3 d-flex flex-row">
					<span class="me-5">Proposed start date/time: <span class="ms-3 form-value"><strong>[X]</strong></span></span>
					<span>Finish date/time: <span class="ms-3 form-value"><strong>[X]</strong></span></span>
				</div>
				<div class="mb-3">
					<div>Details</div>
					<div class="form-value">[X]</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://staging.permitpro.app/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>