@{
	ViewData["Title"] = "Contractors";
	ViewData["SubTitle"] = "New contractor";
}

<div class="d-flex flex-column form-contractor">
	<form>
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="form-group mb-3">
					<label class="form-label" for="ctrl01">Full name</label>
					<input type="text" id="ctrl01" class="form-control" />
				</div>
				<div class="form-group mb-3">
					<label class="form-label" for="ctrl02">Email</label>
					<input type="email" id="ctrl02" class="form-control" />
				</div>
				<div class="form-group mb-3">
					<label class="form-label" for="ctrl03">User role</label>
					<select id="ctrl03" class="form-select" aria-label="User role">
						<option selected>(select a role)</option>
						<option>User</option>
						<option>Permit Issuer</option>
						<option>Lead Permit Issuer</option>
						<option>Worker</option>
						<option>Contractor</option>
					</select>
				</div>
				<div class="form-group mb-3">
					<label class="form-label" for="ctrl03">Site</label>
					<select id="ctrl03" class="form-select" aria-label="Site">
						<option selected>(select a site)</option>
						<option>IOTM, Site #1</option>
						<option>IOTM, Site #2</option>
						<option>IOTM, Site #3</option>
						<option>IOTM, Site #4</option>
						<option>IOTM, Site #5</option>
					</select>
				</div>
				<div class="form-group mb-3 d-flex flex-row align-items-center">
					<div class="form-check me-5">
						<input class="form-check-input" type="radio" id="ctrl04" name="ctrl04">
						<label class="form-check-label" for="ctrl04">Active</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" id="ctrl05" name="ctrl04">
						<label class="form-check-label" for="ctrl05">Inactive</label>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="d-flex flex-row align-items-center justify-content-between mt-3">
		<div>
			<a asp-controller="contractors" asp-action="index"><i class="fa-sharp fa-solid fa-chevrons-left me-2"></i> Back</a>
		</div>
		<button type="button" class="btn btn-primary"><span class="mx-3">Submit</span></button>
	</div>
</div>


@section CustomCss {
	<!-- DataTables -->
	<link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
	<script src="~/lib/DataTables/datatables.min.js"></script>

	<link rel="stylesheet" href="~/css/contractors.css" />
}