<div class="mt-3">
	<div id="main-div" style="width: 538px; margin: 0 auto;">
		<div class="p-2 border text-center bg-light">
			<div class="fw-bold">IOT MANAGEMENT SDN. BHD.</div>
			<div class="fs-6">PERMIT TO WORK FORM</div>
		</div>
		<div class="border border-top-0 border-dark-subtle p-2">
			<div class="d-flex flex-row justify-content-between">
				<div>Date Issued: <span class="fw-bold">12/11/2023</span></div>
				<div>NO: <span class="fw-bold">PTW000001</span></div>
			</div>
		</div>
		<div class="border border-top-0 border-dark-subtle p-2 bg-secondary-soft">
			<span class="fw-bold">GENERAL INFORMATION</span>
		</div>
		<div class="border border-top-0 border-dark-subtle p-2">
			<div class="d-flex flex-row">
				<div class="me-3">Location:</div>
				<div>Some location</div>
			</div>
		</div>
		<div class="border border-top-0 border-dark-subtle">
			<div class="d-flex flex-row">
				<div class="flex-grow-1 p-2">
					<div class="mb-2">
						Description of work:
					</div>
					<div>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent purus ligula,
						porttitor at
					</div>
				</div>
				<div class="border border-top-0 border-end-0 border-bottom-0 border-dark-subtle">
					<div class="border border-top-0 border-start-0 border-end-0 border-dark-subtle p-2 text-center">
						Appendix - Associated Certificate
					</div>
					<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
						<div class="" style="width: 145px;">
							<div class="p-1">&nbsp;</div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1">YES</div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1">NO</div>
						</div>
					</div>
					<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
						<div>
							<div class="p-1 text-center" style="width: 25px;">A</div>
						</div>
						<div class="border-start border-dark-subtle" style="width: 120px;">
							<div class="p-1">Hot Work</div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-empty.png" /></div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-empty.png" /></div>
						</div>
					</div>
					<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
						<div>
							<div class="p-1 text-center" style="width: 25px;">B</div>
						</div>
						<div class="border-start border-dark-subtle" style="width: 120px;">
							<div class="p-1">Confined Space</div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-empty.png" /></div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-empty.png" /></div>
						</div>
					</div>
					<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
						<div>
							<div class="p-1 text-center" style="width: 25px;">C</div>
						</div>
						<div class="border-start border-dark-subtle" style="width: 120px;">
							<div class="p-1">Radiation</div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-mark.png" /></div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-empty.png" /></div>
						</div>
					</div>
					<div class="d-flex flex-row align-items-center border-bottom border-dark-subtle">
						<div>
							<div class="p-1 text-center" style="width: 25px;">D</div>
						</div>
						<div class="border-start border-dark-subtle" style="width: 120px;">
							<div class="p-1">Excavation</div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-empty.png" /></div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-empty.png" /></div>
						</div>
					</div>
					<div class="d-flex flex-row align-items-center">
						<div>
							<div class="p-1 text-center" style="width: 25px;">E</div>
						</div>
						<div class="border-start border-dark-subtle" style="width: 120px;">
							<div class="p-1">Isolation</div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-empty.png" /></div>
						</div>
						<div class="text-center border-start border-dark-subtle" style="width: 50px;">
							<div class="p-1"><img src="https://staging.permitpro.app/img/cb-mark.png" /></div>
						</div>
					</div>
				</div>
			</div>
			<div class="border-top border-dark-subtle p-2 bg-secondary-soft">
				<span class="fw-bold">PERMIT HOLDER INFORMATION</span>
			</div>
			<div class="p-2">
				<div class="me-5">
					<span class="me-2">Name:</span>
					<span>John Smith</span>
				</div>
				<div class="d-flex flex-row justify-content-between">
					<div class="">
						<span class="me-2">Company:</span>
						<span>Acme Pvt Ltd</span>
					</div>
					<div class="me-3">
						<span class="me-2">Number of staff:</span>
						<span>10</span>
					</div>
				</div>
			</div>
			<div class="border-top border-dark-subtle p-2 text-center">
				<div class="fw-bold">INSTRUCTIONS FOR HOLDER</div>
				<div>
					Work Must be performed according to ALL safety instructions.
				</div>
				<div>
					Mobile phones are strictly prohibited from the terminal area.
				</div>
			</div>
			<div class="border-top border-dark-subtle p-2 bg-secondary-soft">
				<span class="fw-bold">OPERATIONAL INFORMATION</span>
			</div>
			<div class="p-2">
				<div class="mb-2">Where are the activities?</div>
				<div class="d-flex flex-row justify-content-evenly p-3">
					<div class="w-100">
						<div class="d-flex flex-row align-items-center justify-content-between">
							<div>Excavation</div>
							<div><i class="fa-sharp fa-regular fa-square-check fa-lg"></i></div>
						</div>
						<div class="d-flex flex-row align-items-center justify-content-between">
							<div>Entering Confined Space</div>
							<div><i class="fa-sharp fa-regular fa-square-check fa-lg"></i></div>
						</div>
					</div>
					<div class="w-100 mx-5">
						<div class="d-flex flex-row align-items-center justify-content-between">
							<div>Welding</div>
							<div><i class="fa-sharp fa-regular fa-square-check fa-lg"></i></div>
						</div>
					</div>
					<div class="w-100">
						<div class="d-flex flex-row align-items-center justify-content-between">
							<div>X-Ray/Radiography</div>
							<div><i class="fa-sharp fa-regular fa-square-check fa-lg"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
