<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Permit {{ permit_no }}</title>
	<style>
		@import url('https://{{ app_domain }}/lib/bootstrap/css/bootstrap.min.css');
		@import url('https://{{ app_domain }}/lib/fontawesome/css/all.min.css');

		body, div, span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 9pt;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: Arial, Helvetica, sans-serif;
		}

		.form-value {
			color: steelblue;
		}

		.attached-certs:last-child {
			border-bottom: 0px;
		}

		.page-break {
    	page-break-before: always; /* Forces a page break before this element */
    	break-before: page;       /* Ensures compatibility with modern browsers */
		}
	</style>
</head>
<body>
	<div class="mt-2">
		<div style="width: 750px;">
			<div class="border border-dark-subtle px-2 py-1">
				<div class="d-flex flex-row justify-content-between">
					<div>Date Issued: <span class="fw-bold">{{ date_issued }}</span></div>
					<div>NO: <span class="fw-bold">{{ permit_no }}</span></div>
				</div>
			</div>
			<div class="border border-top-0 border-dark-subtle px-2 py-1 bg-secondary-subtle">
				<span class="fw-bold">GENERAL INFORMATION</span>
			</div>
			<div class="border border-top-0 border-dark-subtle px-2 py-1">
				<div class="d-flex flex-row">
					<div class="me-3">Location:</div>
					<div><span class="form-value">{{ general.location }}</span></div>
				</div>
			</div>
			<div class="border border-top-0 border-dark-subtle">
				<div class="d-flex flex-row">
					<div class="flex-grow-1 px-2 py-1">
						<div class="mb-2">Description of work:</div>
						<div class="form-value">{{ general.description }}</div>
					</div>
					<div class="border border-top-0 border-end-0 border-bottom-0 border-dark-subtle">
						<div class="border border-top-0 border-start-0 border-end-0 border-dark-subtle p-2 text-center">
							Appendix &mdash; Associated Certificate
						</div>
						<div class="d-flex flex-row align-items-center border-dark-subtle">
							<div class="" style="width: 145px;">
								<div class="p-1">&nbsp;</div>
							</div>
							<div class="text-center border-start border-dark-subtle" style="width: 50px;">
								<div class="p-1">YES</div>
							</div>
							<div class="text-center border-start border-dark-subtle" style="width: 50px;">
								<div class="p-1">NO</div>
							</div>
						</div>
						{{ for item in main_form_certificates }}
						<div class="attached-certs d-flex flex-row align-items-center border-top border-dark-subtle">
							<div>
								<div class="p-1 text-center" style="width: 25px;">{{ item.description }}</div>
							</div>
							<div class="border-start border-dark-subtle" style="width: 120px;">
								<div class="p-1">{{ item.title }}</div>
							</div>
							<div class="text-center border-start border-dark-subtle" style="width: 50px;">
								<div class="p-1">{{ item.yes }}</div>
							</div>
							<div class="text-center border-start border-dark-subtle" style="width: 50px;">
								<div class="p-1">{{ item.no }}</div>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
				<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
					<span class="fw-bold">PERMIT HOLDER INFORMATION</span>
				</div>
				<div>
					<div class="d-flex flex-row px-2 py-1">
						<div class="me-5">
							<span class="me-2">Name:</span>
							<span class="form-value">{{ permit_holder.name }}</span>
						</div>
						<div class="ms-5 me-5">
							<span class="me-2">Company:</span>
							<span class="form-value">{{ permit_holder.company }}</span>
						</div>
						<div class="ms-5">
							<span class="me-2">Number of staff:</span>
							<span class="form-value">{{ permit_holder.num_of_staff }}</span>
						</div>
					</div>
					<div class="border-top border-dark-subtle py-2 px-2">
						<div>Additional Staff</div>
						<div>{{ permit_holder.additional_staff }}</div>
					</div>
					<div class="border-top border-dark-subtle py-2 text-center">
						<div class="fw-bold">INSTRUCTIONS FOR HOLDER</div>
						<div>
							Work Must be performed according to ALL safety instructions.
						</div>
						<div>
							Mobile phones are strictly prohibited from the terminal area.
						</div>
					</div>
				</div>
				<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
					<span class="fw-bold">OPERATIONAL INFORMATION</span>
				</div>
				<div class="p-2 mb-2">
					<div class="mb-1">What are the activities?</div>
					<div class="d-flex flex-row justify-content-evenly">
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[0].checkbox }}</div>
								<div>Excavation</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[1].checkbox }}</div>
								<div>Entering Confined Space</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[2].checkbox }}</div>
								<div>Assemble</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[3].checkbox }}</div>
								<div>Disassemble</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[4].checkbox }}</div>
								<div>Prefabrication</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[8].checkbox }}</div>
								<div>Cutting</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[5].checkbox }}</div>
								<div>Opening Confined Space</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[6].checkbox }}</div>
								<div>Welding</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[7].checkbox }}</div>
								<div>Work at Height</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[13].checkbox }}</div>
								<div>Lifting/Crane Activities</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[9].checkbox }}</div>
								<div>Drilling/Grinding</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[10].checkbox }}</div>
								<div>High-Pressure Jetting</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[11].checkbox }}</div>
								<div>Grit Blasting</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[12].checkbox }}</div>
								<div>X-Ray/Radiography</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[18].checkbox }}</div>
								<div>Other <span class="form-value">{{ operation_info.activities[18].value }}</span></div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[14].checkbox }}</div>
								<div>Calibration</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[15].checkbox }}</div>
								<div>Electrical Activities</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[16].checkbox }}</div>
								<div>Nitrogen Pressure Test</div>
							</div>
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.activities[17].checkbox }}</div>
								<div>Hydrostatic Test</div>
							</div>
						</div>
					</div>
					<hr style="margin-bottom:5px;margin-top:5px;" />
					<div class="mb-1">Where are the activities?</div>
					<div class="d-flex flex-row justify-content-evenly">
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.locations[0].checkbox }}</div>
								<div>Zone 0</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.locations[2].checkbox }}</div>
								<div>Zone 1</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.locations[3].checkbox }}</div>
								<div>Zone 2</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.locations[1].checkbox }}</div>
								<div>Unclassified</div>
							</div>
						</div>
					</div>
					<hr style="margin-bottom:5px;margin-top:5px;" />
					<div class="mb-1">With what?</div>
					<div class="d-flex flex-row justify-content-evenly">
						<div class="w-100">
							<div class="d-flex flex-row align-items-start">
								<div class="me-2">{{ operation_info.tools[0].checkbox }}</div>
								<div>Explosion Proof/Intrisically Safe</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.tools[1].checkbox }}</div>
								<div>Spark-free Tools</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.tools[2].checkbox }}</div>
								<div>Lifting Equipment/Crane</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.tools[3].checkbox }}</div>
								<div>Scaffold</div>
							</div>
						</div>
					</div>
					<div class="d-flex flex-row justify-content-evenly">
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.tools[4].checkbox }}</div>
								<div>Other <span class="form-value">{{ operation_info.tools[4].value }}</span></div>
							</div>
						</div>
					</div>
					<hr style="margin-bottom:5px;margin-top:5px;" />
					<div class="mb-1">Product involved - specify product contained in system</div>
					<div class="d-flex flex-row justify-content-evenly">
						<div class="w-100">
							<div class="d-flex flex-row align-items-start">
								<div class="me-2">{{ operation_info.products[0].checkbox }}</div>
								<div>Class 1</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.products[1].checkbox }}</div>
								<div>Class 2</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.products[2].checkbox }}</div>
								<div>Class 3</div>
							</div>
						</div>
						<div class="w-100">
							<div class="d-flex flex-row align-items-center">
								<div class="me-2">{{ operation_info.products[3].checkbox }}</div>
								<div>Other <span class="form-value">{{ operation_info.products[3].value }}</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="page-break"></div>
			
			<div class="border-start border-end border-bottom border-dark-subtle">
				<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
					<span class="fw-bold">OPERATIONAL MEASURES</span>
				</div>
				<div class="d-flex flex-row">
					<div class="w-100 border-end border-dark-subtle">
						<div class="fw-bold border-bottom border-dark-subtle p-1">
							<span class="ms-1">MECHANICAL</span>
						</div>
						<div class="px-2 py-1 border-bottom border-dark-subtle">
							<div>Equipment:</div>
							<div class="form-value">{{ operation_measures.mechanical.equipment_name }}</div>
						</div>
						<div class="px-2 py-1 border-bottom border-dark-subtle">
							<div>ID/Tag Number:</div>
							<div class="form-value">{{ operation_measures.mechanical.tag_number }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2 pt-1">
							<div>Pressure free</div>
							<div>{{ operation_measures.mechanical.pressure_free }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Empty</div>
							<div>{{ operation_measures.mechanical.empty }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Disconnected</div>
							<div>{{ operation_measures.mechanical.disconnected }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Blank off</div>
							<div>{{ operation_measures.mechanical.blank_off }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Locked off</div>
							<div>{{ operation_measures.mechanical.locked_off }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Flushed</div>
							<div>{{ operation_measures.mechanical.flushed }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Ventilated</div>
							<div>{{ operation_measures.mechanical.ventilated }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2 mb-2">
							<div>Other <span class="form-value">{{ operation_measures.mechanical.other.value }}</span></div>
							<div>{{ operation_measures.mechanical.other.checkbox }}</div>
						</div>
					</div>
					<div class="w-100 border-end border-dark-subtle">
						<div class="fw-bold border-bottom border-dark-subtle p-1">
							<span class="ms-1">ELECTRICAL</span>
						</div>
						<div class="px-2 py-1 border-bottom border-dark-subtle">
							<div>Equipment:</div>
							<div class="form-value">{{ operation_measures.electrical.equipment_name }}&nbsp;</div>
						</div>
						<div class="px-2 py-1 border-bottom border-dark-subtle">
							<div>ID/Tag Number:</div>
							<div class="form-value">{{ operation_measures.electrical.tag_number }}&nbsp;</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2 pt-1">
							<div>Locked off</div>
							<div>{{ operation_measures.electrical.locked_off }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Isolated</div>
							<div>{{ operation_measures.electrical.isolated }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>See Isolation Certificate</div>
							<div>{{ operation_measures.electrical.isolation_certificate }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>No. of Isolation Certificates</div>
							<div class="me-1 form-value">{{ operation_measures.electrical.num_of_isolation_certificate }}</div>
						</div>
					</div>
					<div class="w-100">
						<div class="fw-bold border-bottom border-dark-subtle p-1">
							<span class="ms-1">INSTRUMENT &lt;24V</span>
						</div>
						<div class="px-2 py-1 border-bottom border-dark-subtle">
							<div>Equipment:</div>
							<div class="form-value">{{ operation_measures.instrument.equipment_name }}&nbsp;</div>
						</div>
						<div class="px-2 py-1 border-bottom border-dark-subtle">
							<div>ID/Tag Number:</div>
							<div class="form-value">{{ operation_measures.instrument.tag_number }}&nbsp;</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2 pt-1">
							<div>Locked off</div>
							<div>{{ operation_measures.instrument.locked_off }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Isolated</div>
							<div>{{ operation_measures.instrument.isolated }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Disconnected</div>
							<div>{{ operation_measures.instrument.disconnected }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>Bypass</div>
							<div>{{ operation_measures.instrument.bypass }}</div>
						</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>No. of Isolation Certificates</div>
							<div class="me-1 form-value">{{ operation_measures.instrument.num_of_isolation_certificate }}</div>
						</div>
					</div>
				</div>
				<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
					<span class="fw-bold">OPERATIONAL MEASURES (continued)</span>
				</div>
				<div class="d-flex flex-row justify-content-evenly">
					<div class="w-100 border-end border-dark-subtle">
						<div class="px-2 pt-1">
							<div class="d-flex flex-row justify-content-between">
								<div>Shutdown system operational?</div>
								<div>{{ operation_measures.instrument.shutdown_system_operational }}</div>
							</div>
							<div class="d-flex flex-row justify-content-between">
								<div>Fire protection system operational?</div>
								<div>{{ operation_measures.instrument.fire_protection_system_operational }}</div>
							</div>
							<div class="d-flex flex-row justify-content-between mb-2">
								<div>Automatic fire protection system operational?</div>
								<div>{{ operation_measures.instrument.auto_fire_protection_system_operational }}</div>
							</div>
							<div class="fw-bold mb-1">PTW HANDOVER TO HOLDER</div>
							<div class="d-flex flex-row justify-content-between">
								<div>Is aware of the safety instructions as in the Terminal Safety Manual?</div>
								<div>{{ operation_measures.ptw_hand_over.terminal_safety_awareness }}</div>
							</div>
							<div class="d-flex flex-row justify-content-between mb-2">
								<div>Is aware of the safety instructions as in the Permit to Work<br />and associated certificates?</div>
								<div>{{ operation_measures.ptw_hand_over.ptw_awareness }}</div>
							</div>
						</div>
					</div>
					<div class="w-100">
						<div class="px-2 pt-1">
							<div>Any other measures?</div>
							<div class="form-value">{{ operation_measures.instrument.other_measures }}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="border-start border-end border-bottom border-dark-subtle">
				<div class="d-flex flex-row">
					<div class="w-100 border-end border-dark-subtle">
						<div class="px-2 py-1 bg-secondary-subtle border-bottom border-dark-subtle">
							<span class="fw-bold">PPE</span>
						</div>
						<div class="px-2 py-1">
							<div class="d-flex flex-row">
								<div class="w-100 me-2">
									<div class="d-flex flex-row justify-content-between">
										<div>Safety Glasses</div>
										<div>{{ ppe.safety_glass }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Safety Helmet</div>
										<div>{{ ppe.safety_helmet }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Full Face Mask</div>
										<div>{{ ppe.full_face_mask }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Leather Gloves</div>
										<div>{{ ppe.leather_gloves }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Neoprene Gloves</div>
										<div>{{ ppe.neoprene_gloves }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Safety Harness</div>
										<div>{{ ppe.safety_harness }}</div>
									</div>
								</div>
								<div class="w-100 ms-2">
									<div class="d-flex flex-row justify-content-between">
										<div>Fall Protection</div>
										<div>{{ ppe.fall_protection }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Safety Shoes</div>
										<div>{{ ppe.safety_shoes }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Ear Protection</div>
										<div>{{ ppe.ear_protection }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Breathing Protection</div>
										<div>{{ ppe.breathing_protection }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Other <span class="form-value">{{ ppe.other_ppe.value }}</span></div>
										<div>{{ ppe.other_ppe.checkbox }}</div>
									</div>
								</div>
							</div>
						</div>
						<div class="border-top border-dark-subtle px-2 py-1">
							<div>Any further PPE required to be included in the JHA?</div>
							<div class="form-value">{{ ppe.other_required_in_jha }}&nbsp;</div>
						</div>
					</div>
					<div class="w-100">
						<div class="px-2 py-1 bg-secondary-subtle border-bottom border-dark-subtle">
							<span class="fw-bold">WORK AREA</span>
						</div>
						<div class="px-2 py-1">
							<div class="d-flex flex-row">
								<div class="w-100 me-2">
									<div class="d-flex flex-row justify-content-between">
										<div>Demarcation</div>
										<div>{{ work_area.demarcation }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Fire Extinguisher</div>
										<div>{{ work_area.fire_extinguisher }}</div>
									</div>
								</div>
								<div class="w-100 me-2">
									<div class="d-flex flex-row justify-content-between">
										<div>Warning Signs</div>
										<div>{{ work_area.warning_signs }}</div>
									</div>
									<div class="d-flex flex-row justify-content-between">
										<div>Other <span class="form-value">{{ work_area.other_ppe_work_area.value }}</span></div>
										<div>{{ work_area.other_ppe_work_area.checkbox }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="border-start border-end border-bottom border-dark-subtle">
				<div class="border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
					<span class="fw-bold">PRECAUTIONS</span>
				</div>
				<div class="px-2 py-1">
					<div>
						<div>Precautions for the work (in addition to those overleaf, and stated in associated certificates):</div>
						<div class="form-value">{{ precautions.precautions_for_work }}</div>
					</div>
				</div>
				<div class="px-2 py-1 border-top border-dark-subtle">
					<div>
						<div>Additional precautions for Lead Permit Issuer (LPI) and Engineer:</div>
						<div class="form-value">{{ precautions.additional_precautions }}</div>
					</div>
				</div>
				<div class="px-2 py-1 border-top border-dark-subtle">
					<div class="mb-2 d-flex flex-row align-items-center">
						<div class="me-3">Reference made to attached Method of Statement?</div>
						<div>{{	precautions.method_of_statement_attached }}</div>
					</div>
				</div>
			</div>

			<div class="page-break"></div>

			<div class="border-start border-end border-bottom border-dark-subtle">
				<div class="border-top border-bottom border-dark-subtle px-2 py-1 bg-secondary-subtle">
					<span class="fw-bold">DECLARATIONS</span>
				</div>
				<div class="px-2 py-1">
					<div class="d-flex flex-row">
						<div class="me-2">{{ precautions.declaration }}</div>
						<div>
							I certified that I have fully considered the implications of the work in line with the responsibilities details
							in the permit to work procedure and that the above precautions are adequate for the work to be carried out provided
							that the precautions are established and maintained.
						</div>
					</div>
					<hr class="my-2" />
					<div class="d-flex flex-row">
						<div class="me-2">
							Engineering Advice Required?
						</div>
						<div class="form-value">{{ precautions.method_of_statement_attached }}</div>
					</div>
					<hr class="my-2" />
					<div class="mb-1">
						Declaration by Permit Issuer (PI)
					</div>
					<div class="d-flex flex-row">
						<div class="me-2">{{ precautions.permit_issuer_declaration.authorized_for_execution }}</div>
						<div>
							Authorised for execution without additional certificates
						</div>
					</div>
					<hr class="my-2" />
					<div class="mb-1">
						Declaration by Lead Permit Issuer (LPI)
					</div>
					<div class="d-flex flex-row">
						<div class="me-2">{{ precautions.lead_permit_issuer_declaration.authorized_for_execution }}</div>
						<div>
							Authorised for execution only in accordance with attached certificates
						</div>
					</div>
					<hr class="my-2" />
					<div class="mb-1">
						Permit validity (where work is going to last more than the duration of a day)
					</div>
					<div class="d-flex flex-row">
						<div class="me-2">{{ precautions.permit_validity }}</div>
						<div>
							Permit Issuer & Permit Holder confirm by signing that the precautions required to work safely have been
							complied with prior to starting work each day or work period. At he close of each day the Permit Issuer
							&amp; Permit Holder sign to confirm that the area has been left in a safe condition (although it is still
							not an operational area, i.e. it has not been handed back) and that all staff have left the site.
						</div>
					</div>
				</div>
			</div>
		</div>

		__FORM_A__
		__FORM_B__
		__FORM_C__
		__FORM_D__
		__FORM_E__
		__FORM_F__
		__FORM_G__
		__FORM_H__

	</div>
	<br />

	<script src="https://{{ app_domain }}/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>