<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Reset Password</title>
	<style>
		body, td {
			font-family: Arial;
			font-size: 14px;
		}
	</style>
</head>
<body>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td>
				Dear {{ recipient_name }},
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				We have sent you this email in response to your request to reset your password.
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>To reset your password, please follow the link below:</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				<a href="{{ reset_link }}" target="_blank">Reset password</a>.
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>Please ignore this email if you did not request a password change.</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				Support Team<br />
				PermitPRO
			</td>
		</tr>
	</table>
</body>
</html>