<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Pending Approval</title>
	<style>
		body, td {
			font-family: Arial;
			font-size: 16px;
		}
	</style>
</head>
<body>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td>
				Dear {{ recipient_name }},
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				You have a pending approval task that needs your attention.
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td>Workflow name:</td>
						<td style="width:20px;">&nbsp;</td>
						<td><b>{{ workflow_name }}</b></td>
					</tr>
					<tr>
						<td>Permit no:</td>
						<td style="width:20px;">&nbsp;</td>
						<td><b>{{ permit_no }}</b></td>
					</tr>
					<tr>
						<td>Date submitted:</td>
						<td style="width:20px;">&nbsp;</td>
						<td><b>{{ date_submitted }}</b></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				Click <a href="{{ approval_link }}" target="_blank">here</a> to view the permit detail.
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				Workflow Team<br />
				PermitPRO
			</td>
		</tr>
	</table>
</body>
</html>