@{
	ViewData["Title"] = "Settings / User";
	ViewData["SubTitle"] = "New user";
}

@model ManageUserViewNodel

<div class="d-flex flex-column form-user">
	<form method="post">
		@Html.AntiForgeryToken()
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<label class="form-label small fw-semibold">First Name <span class="text-danger">*</span></label>
						<input asp-for="FirstName" class="form-control" placeholder="John"/>
						<span asp-validation-for="FirstName" class="text-danger small"></span>
					</div>
					<div class="col-6">
						<label class="form-label small fw-semibold">Last Name <span class="text-danger">*</span></label>
						<input asp-for="LastName" class="form-control" placeholder="John"/>
						<span asp-validation-for="LastName" class="text-danger small"></span>
					</div>
				</div>
			</div>
			<div class="card-footer text-body-secondary d-flex justify-content-between">
				<a href="" role="button" class="btn btn-sm btn-outline-secondary"><span class="mx-3">Back</span></a>
				<button type="button" class="btn btn-sm btn-primary"><span class="mx-3">Submit</span></button>
			</div>
		</div>
	</form>
</div>


@section CustomCss {
	<!-- DataTables -->
	<link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
	<script src="~/lib/DataTables/datatables.min.js"></script>

	<link rel="stylesheet" href="~/css/users.css" />
}