@media (min-width: 1400px) {
	.data-table {
		/*width: 75%;*/
	}

	.form-site {
		width: 50%;
	}
}

.form-control {
	padding: 6px !important;
}

.action-icons a:not(:last-child) {
	padding-right: 12px;
}

#grid, #grid .k-input-inner {
	font-family: 'Cerebri Sans';
	font-size: 14px;
}

	#grid table thead th {
		color: #95aac9;
		font-weight: 600;
	}

		#grid table thead th.text-center .k-column-title {
			margin: 0 auto;
		}

	#grid .k-grid-norecords-template {
		border: 0;
	}

	/* ── Map ─────────────────────────────────────────────────────────────────────── */
.site-map { height: 300px; border-radius: 10px; overflow: hidden; }

#grid, #grid .k-input-inner {
	font-family: 'Poppins';
	font-size: 14px;
}

	#grid table thead th {
		color: #95aac9;
		font-weight: 600;
	}

	#grid table thead th.text-center .k-column-title {
		margin: 0 auto;
	}

	#grid .k-grid-norecords-template {
		border: 0;
	}

.k-treeview-leaf {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

.k-chip {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
}

.k-searchbox {
	width: 18em !important;
}

.attachment-list-loading {
	background-color: rgba(0,0,0,0);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
	display: none;
	justify-items: center;
	align-items: center;
}

.k-column-title {
  font-size: 14px !important;
}

a:link, a:visited {
	text-decoration: none !important;
}

a:hover {
	color: var(--bs-btn-disabled-bg);
}

.k-grid a {
	text-decoration: none !important;
	color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity,1));
}

.k-grid a:hover {
	color: var(--bs-btn-disabled-bg);
}

.k-calendar, .k-title, .k-button {
	font-family: 'Poppins', sans-serif !important;
}