@media (min-width: 768px) {
	.w-50 {
		width: 100% !important;
	}
}

.form-control {
	padding: 6px !important;
}

.action-icons a:not(:last-child) {
	padding-right: 12px;
}

.action-column {
	width: 110px !important;
}

.desc-column {
	width: 400px !important;
}

.dataTables_length {
	display: none !important;
}

.check-column {
	width: 30px !important;
}

.form-workflow {
	width: 100%;
}

.form-edit-workflow {
	width: 100%;
}

.name-column {
	width: 200px !important;
}

#grid, #grid .k-input-inner {
	font-family: 'Poppins';
	font-size: 14px;
}

	#grid table thead th {
		color: #95aac9;
		font-weight: 600;
	}

		#grid table thead th.text-center .k-column-title {
			margin: 0 auto;
		}

	#grid .k-grid-norecords-template {
		border: 0;
	}

.k-column-title {
  font-size: 14px !important;
}

a:link, a:visited {
	text-decoration: none !important;
}

a:hover {
	color: var(--bs-btn-disabled-bg);
}

.k-grid a {
	text-decoration: none !important;
	color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity,1));
}

.k-grid a:hover {
	color: var(--bs-btn-disabled-bg);
}

.k-calendar, .k-title, .k-button {
	font-family: 'Poppins', sans-serif !important;
}