<h1 class="app-topbar-title">@ViewData["SubTitle"]</h1>
<div class="app-topbar-breadcrumb">
	<span>@ViewData["Title"]</span>
	@if (ViewData["SubTitle"] != null && ViewData["SubTitle"]?.ToString() != ViewData["Title"]?.ToString())
	{
		<span class="sep">/</span>
		<span class="active">@ViewData["SubTitle"]</span>
	}
</div>
