<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="PermitPro" />

	<link rel="apple-touch-icon" sizes="180x180" href="~/img/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/img/icons/favicon-16x16.png">
	<link rel="manifest" href="~/img/icons/site.webmanifest">

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/img/icons/favicon.ico" type="image/x-icon" />

	<!-- FontAwesome -->
	<link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet">

	<!-- Libs CSS -->
	<link rel="stylesheet" href="~/themes/dashkit/css/libs.bundle.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" href="~/themes/dashkit/css/theme.bundle.css" />

	<!-- jQuery -->
	<script nonce="3xecut3" src="~/lib/jquery/jquery.min.js"></script>

	<!-- Numeral -->
	<script nonce="3xecut3" src="~/lib/numeral.js/numeral.min.js"></script>

	<!-- Moment -->
	<script nonce="3xecut3" src="~/lib/moment.js/moment-with-locales.min.js"></script>

	<link rel="stylesheet" href="~/css/site.css" />

	<!-- Kendo UI -->
	<link href="~/lib/kendo-ui/styles/kendo.bootstrap-main.min.css" rel="stylesheet" type="text/css" />
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/jszip.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/kendo.pdf.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/kendo.pdfviewer.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/pako_deflate.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>

	<!-- Web Awesome -->
	<link rel="stylesheet" href="https://ka-f.webawesome.com/webawesome@3.8.0/styles/webawesome.css" />
	<script type="module" src="https://ka-f.webawesome.com/webawesome@3.8.0/webawesome.loader.js"></script>

	<!-- JAVASCRIPT -->
	<!-- Vendor JS -->
	<script nonce="3xecut3" src="~/themes/dashkit/js/vendor.bundle.js"></script>

	<!-- Theme JS -->
	<script nonce="3xecut3" src="~/themes/dashkit/js/theme.bundle.js"></script>

	<!-- Bootstrap -->
	<!--
	<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	-->

	@await RenderSectionAsync("CustomCss", required: false)

	<!-- CSS Isolation Bundle Reference -->
	<!--link rel="stylesheet" href="~/PermitPro.App.styles.css" asp-appendversion="true" /-->

	<!-- Title -->
	<title>PermitPro / @ViewData["Title"]</title>
</head>
<body>
	<div class="loading">
		<div class="loading-icon">
			<div>
				<i class="fa-solid fa-loader fa-spin" style="font-size: 3.5em !important;"></i>
			</div>
		</div>
	</div>
	<!-- NAVIGATION -->
	<nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
		<div class="container-fluid">

			<!-- Toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Brand -->
			<div class="navbar-brand">
				<div>
					<div class="app-logo d-none d-md-block">
						<img src="~/img/app-logo.jpg" />
						<!--<i class="fa-duotone fa-user-helmet-safety fa-2xl text-info"></i>-->
					</div>
					<div class="app-name">
						PermitPRO
					</div>
				</div>
			</div>

			<!-- User (xs) -->
			<div class="navbar-user d-md-none">
				<!-- Dropdown -->
				<!--
				<div class="dropdown">
					<a href="javascript:void(0)" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="avatar avatar-sm">
							<partial name="_UserAvatar" />
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarIcon">
						<a href="~/identity/account/manage" class="dropdown-item">Profile</a>
						<a href="~/account-general.html" class="dropdown-item">Settings</a>
						<hr class="dropdown-divider">
						<a href="/account/logout" class="dropdown-item">Logout</a>
					</div>
				</div>
				-->
			</div>

			<!-- Collapse -->
			<div class="collapse navbar-collapse" id="sidebarCollapse">

				<!-- Form -->
				<form class="mt-4 mb-3 d-md-none">
					<div class="input-group input-group-rounded input-group-merge input-group-reverse">
						<input class="form-control" type="search" placeholder="Search" aria-label="Search">
						<div class="input-group-text">
							<span class="fe fe-search"></span>
						</div>
					</div>
				</form>

				<!-- Navigation -->
				<partial name="_SideMenuPartial" />

				<!-- Push content down -->
				<div class="mt-auto"></div>


				<!-- User (md) -->
				<div class="navbar-user d-none d-md-flex" id="sidebarUser">
				</div>

			</div> <!-- / .navbar-collapse -->

		</div>
	</nav>

	<!-- MAIN CONTENT -->
	<div class="main-content">

		<!-- TOPBAR -->
		<header class="app-topbar">
			<div class="app-topbar-left">
				<partial name="_HeaderTitle" />
			</div>
			<div class="app-topbar-right">
				<partial name="_LoginPartial" />
			</div>
		</header>

		<!-- PAGE BODY -->
		<div class="app-page-body">
			@RenderBody()
		</div>

	</div><!-- / .main-content -->

	<!-- Modal -->
	<div class="modal fade" id="dlgConfirmDeleteItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-warning">
					<h2 class="modal-title" id="dlgConfirmDeleteItemLabel" style="font-weight:600;">Confirm Delete</h2>
					<button type="button" class="btn btn-sm btn-clear" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-regular fa-close fa-2x"></i>
					</button>
				</div>
				<div class="modal-body mb-0 fs-4">
					You are about to delete this item. Are you sure?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">No</button>
					<button id="btnDeleteItem" type="button" class="btn btn-sm btn-outline-danger" data-company-id="" data-controller="" data-entity="" data-item-id="" data-bs-dismiss="modal">Yes, please proceed</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete warning modal: Workflow -->
	<div class="modal fade" id="dlgDeleteWarnWorkflow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dlgDeleteWarnWorkflowLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-warning">
					<h2 class="modal-title" id="dlgDeleteWarnWorkflowLabel" style="font-weight:600;">Delete Warning</h2>
					<button type="button" class="btn btn-sm btn-clear" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-regular fa-close fa-2x"></i>
					</button>
				</div>
				<div class="modal-body mb-0 fs-4">
					WARNING! There are one or more permits attached to this workflow. Consider deactivating the workflow instead of deleting it.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
						<span class="mx-4">OK</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete warning modal: User -->
	<div class="modal fade" id="dlgDeleteWarnUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dlgDeleteWarnUserLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-warning">
					<h2 class="modal-title" id="dlgDeleteWarnUserLabel" style="font-weight:600;">Delete Warning</h2>
					<button type="button" class="btn btn-sm btn-clear" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-regular fa-close fa-2x"></i>
					</button>
				</div>
				<div class="modal-body mb-0 fs-4">
					WARNING! There are one or more permits attached to this user. Consider deactivating the user instead of deleting it.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
						<span class="mx-4">OK</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete warning modal: Location -->
	<div class="modal fade" id="dlgDeleteWarnLoc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dlgDeleteWarnLocLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-warning">
					<h2 class="modal-title" id="dlgDeleteWarnLocLabel" style="font-weight:600;">Delete Warning</h2>
					<button type="button" class="btn btn-sm btn-clear" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-regular fa-close fa-2x"></i>
					</button>
				</div>
				<div class="modal-body mb-0 fs-3">
					WARNING! There are one or more permits and/or users attached to this location. Consider deactivating the location instead of deleting it.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
						<span class="mx-4">OK</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<script nonce="3xecut3" src="~/js/loader.js"></script>
	<script nonce="3xecut3" src="~/lib/signalr/signalr.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)

	@if (User.Identity?.IsAuthenticated == true)
	{
		var _companyIdForBadge = ViewContext.RouteData.Values["company"] as string;
		if (!string.IsNullOrEmpty(_companyIdForBadge))
		{
			<script>
				(function () {
					const badge = document.getElementById('bellBadge');

					// initial count on page load
					fetch('/@_companyIdForBadge/notifications/count')
						.then(r => r.json())
						.then(d => {
							if (badge && d.count > 0) {
								badge.textContent = d.count > 99 ? '99+' : d.count;
								badge.style.display = '';
							}
						})
						.catch(() => { });

					// SignalR real-time push
					const notifConn = new signalR.HubConnectionBuilder()
						.withUrl('/@_companyIdForBadge/notificationHub')
						.withAutomaticReconnect()
						.build();

					notifConn.on('ReceiveNotification', function (data) {
						if (badge) {
							const current = parseInt(badge.textContent) || 0;
							const next = current + 1;
							badge.textContent = next > 99 ? '99+' : next;
							badge.style.display = '';
						}
						// let the notifications page react live if open
						window.dispatchEvent(new CustomEvent('notifReceived', { detail: data }));
					});

					notifConn.start().catch(function () { });
					window._notifConn = notifConn;
				})();
			</script>
		}
	}

	<script>
		$(document).ready(() => {
			$('#userDropdown').click((e) => {
				e.preventDefault();
				$(this).dropdown('toggle');
			});


			$('#permitsDropdown').click((e) => {
				e.preventDefault();
				$('#permitSubmenu').collapse('toggle');
			});


			$('#permitSubmenu').on('show.bs.collapse', (e) => {
				$('#permitsDropdown i:last-child').removeClass('fa-chevron-down');
				$('#permitsDropdown i:last-child').addClass('fa-chevron-up');
			});


			$('#permitSubmenu').on('hide.bs.collapse', (e) => {
				$('#permitsDropdown i:last-child').removeClass('fa-chevron-up');
				$('#permitsDropdown i:last-child').addClass('fa-chevron-down');
			});
		});
	</script>

</body>
</html>
