<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="PermitPro" />

	<link rel="apple-touch-icon" sizes="180x180" href="~/img/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/img/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/img/icons/favicon-16x16.png">
	<link rel="manifest" href="~/img/icons/site.webmanifest">

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/img/icons/favicon.ico" type="image/x-icon" />

	<!-- FontAwesome -->
	<link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet">

	<!-- Libs CSS -->
	<link rel="stylesheet" href="~/themes/dashkit/css/libs.bundle.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" href="~/themes/dashkit/css/theme.bundle.css" />

	<!-- jQuery -->
	<script nonce="3xecut3" src="~/lib/jquery/jquery.min.js"></script>

	<!-- Numeral -->
	<script nonce="3xecut3" src="~/lib/numeral.js/numeral.min.js"></script>

	<!-- Moment -->
	<script nonce="3xecut3" src="~/lib/moment.js/moment-with-locales.min.js"></script>

	<link rel="stylesheet" href="~/css/site.css" />

	<!-- Bootstrap -->
	<!--
	<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	-->
	
	<!-- Kendo UI -->
	<link href="~/lib/kendo-ui/styles/kendo.bootstrap-main.min.css" rel="stylesheet" type="text/css" />
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/jszip.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/kendo.pdf.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/kendo.pdfviewer.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/pako_deflate.min.js"></script>
	<script nonce="3xecut3" src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>

	<!-- Web Awesome -->
	<link rel="stylesheet" href="https://ka-f.webawesome.com/webawesome@3.8.0/styles/webawesome.css" />
	<script type="module" src="https://ka-f.webawesome.com/webawesome@3.8.0/webawesome.loader.js"></script>


	@await RenderSectionAsync("CustomCss", required: false)

	<!-- Title -->
	<title>PermitPro / @ViewData["Title"]</title>
</head>
<body>
	<div class="loading">
		<div class="loading-icon">
			<div>
				<i class="fa-solid fa-loader fa-spin" style="font-size: 3.5em !important;"></i>
			</div>
		</div>
	</div>
	<!-- NAVIGATION -->
	<nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
		<div class="container-fluid">

			<!-- Toggler -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Brand -->
			<div class="navbar-brand">
				<div>
					<div class="app-logo d-none d-md-block">
						<img src="~/img/app-logo.jpg" />
						<!--<i class="fa-duotone fa-user-helmet-safety fa-2xl text-info"></i>-->
					</div>
					<div class="app-name">
						PermitPRO
					</div>
				</div>
			</div>

			<!-- User (xs) -->
			<div class="navbar-user d-md-none">
				<!-- Dropdown -->
				<!--
				<div class="dropdown">
					<a href="javascript:void(0)" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="avatar avatar-sm">
							<partial name="_UserAvatar" />
						</div>
					</a>
					<div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarIcon">
						<a href="~/identity/account/manage" class="dropdown-item">Profile</a>
						<a href="~/account-general.html" class="dropdown-item">Settings</a>
						<hr class="dropdown-divider">
						<a href="/account/logout" class="dropdown-item">Logout</a>
					</div>
				</div>
				-->
			</div>

			<!-- Collapse -->
			<div class="collapse navbar-collapse" id="sidebarCollapse">

				<!-- Form -->
				<form class="mt-4 mb-3 d-md-none">
					<div class="input-group input-group-rounded input-group-merge input-group-reverse">
						<input class="form-control" type="search" placeholder="Search" aria-label="Search">
						<div class="input-group-text">
							<span class="fe fe-search"></span>
						</div>
					</div>
				</form>

				<!-- Navigation -->
				<partial name="_SideMenuPartial" />

				<!-- Push content down -->
				<div class="mt-auto"></div>


				<!-- User (md) -->
				<div class="navbar-user d-none d-md-flex" id="sidebarUser">
				</div>

			</div> <!-- / .navbar-collapse -->

		</div>
	</nav>

	<!-- MAIN CONTENT -->
	<div class="main-content">

		<!-- TOPBAR -->
		<header class="app-topbar">
			<div class="app-topbar-left">
				<partial name="_HeaderTitle" />
			</div>
			<div class="app-topbar-right">
				<partial name="_LoginPartial" />
			</div>
		</header>

		<!-- PAGE BODY -->
		<div class="app-page-body">
			@RenderBody()
		</div>

	</div><!-- / .main-content -->

	<!-- Modal -->
	<div class="modal fade" id="dlgConfirmDeleteItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-warning">
					<h2 class="modal-title" id="dlgConfirmDeleteItemLabel">Confirm Delete</h2>
					<button type="button" class="btn btn-clear" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa-regular fa-close fa-2x"></i>
					</button>
				</div>
				<div class="modal-body h3">
					You are about to delete this item. Are you sure?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
					<button id="btnDeleteItem" type="button" class="btn btn-outline-danger" data-company-id="" data-controller="" data-entity="" data-item-id="" data-bs-dismiss="modal">Yes, please proceed</button>
				</div>
			</div>
		</div>
	</div>

	<!-- JAVASCRIPT -->
	<!-- Vendor JS -->
	<script nonce="3xecut3" src="~/themes/dashkit/js/vendor.bundle.js"></script>

	<!-- Theme JS -->
	<script nonce="3xecut3" src="~/themes/dashkit/js/theme.bundle.js"></script>

	<script nonce="3xecut3" src="~/js/loader.js"></script>

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
