@using Microsoft.AspNetCore.Identity
@using PermitPro.Core.Entities
@using PermitPro.Core.Interfaces
@using PermitPro.Core.Services

@inject SignInManager<UserInfo> _signInManager
@inject UserManager<UserInfo> _userManager
@inject ICurrentUserService _currentUserService

@{
	var user = _currentUserService.GetCurrentUser();
	var companyId = ViewContext.RouteData.Values["company"] as string;
	var profileImage = string.Empty;

	if (user != null)
	{
		profileImage = !string.IsNullOrEmpty(user.ProfileImage) ? user.ProfileImage : "";
	}
}

<ul class="nav justify-content-end align-items-center mt-3">
	@if (_signInManager.IsSignedIn(User))
	{
		<li class="nav-item mx-4">
			<a asp-controller="notifications" asp-action="index" class="position-relative">
				<i class="fa-sharp fa-solid fa-envelope-open-text fa-xl text-secondary"></i>
				<!--
				<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
					<span class="visually-hidden">New alerts</span>
				</span>
				-->
			</a>
		</li>
		<li class="nav-item">
			<div class="dropdown">
				<a href="#" class="no-loading" data-bs-toggle="dropdown">
					@if (profileImage == "")
					{
						<i class="fa-sharp fa-solid fa-circle-user fa-xl text-secondary"></i>
					}
					else
					{
						<img class="nav-profile-image" src="~/img/profile/@profileImage" />
					}
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown-item">
						<a href="/@companyId/account/profile" class="no-loading">
							<div>@user?.FirstName @user?.LastName</div>
							<small>@user?.Email</small>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="~/account/logout" class="dropdown-item">Logout</a>
					</li>
				</ul>
			</div>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>