@using Kendo.Mvc.UI
@addTagHelper *, Kendo.Mvc

@{
	ViewData["Title"] = "Settings / Locations";
	ViewData["SubTitle"] = "Summary";
}

<div class="d-flex flex-row">
	<div class="me-2" style="width: 300px; overflow-x: auto;">
		<div class="card shadow-sm">
			<div class="card-body">
				@(Html.Kendo().TreeView()
					.Name("treeview")
					.DataTextField("name")
					.DataImageUrlField("image")
					.Size(ComponentSize.Small)
					.DataSource(ds => ds
						.Read(read => read
							.Action("GetSites", "Sites")
						)
					)
					.Events(events => events
						.Select(
							@<text>
								function (e) {
									var data = $('#treeview').data('kendoTreeView').dataItem(e.node);

									var xhr = $.ajax({
										method: 'POST',
										url: '/api/data/sites/' + data.id,
									});

									xhr.done(function (response) {
										//console.log(response);
									});
								}
							</text>
						)
					)
				)
			</div>
		</div>
	</div>
	<div class="ms-2">
		<div class="card shadow-sm">
			<div class="card-body">
				<button type="button" class="btn btn-sm btn-secondary btn-reload">Reload</button>
			</div>
		</div>
	</div>
</div>

@section CustomCss {
	<link rel="stylesheet" href="/css/settings.css" />
}


@section Scripts {
	<script>
		$(document).ready(function () {
			var treeview = $("#treeview").data("kendoTreeView");

			$('.btn-reload').click(function () {
				treeview.dataSource.read();
			});
		});
	</script>
}